{{- $paginator := .Paginate (where .Pages "Type" "post") (index 50) }}

{{- $length := len .Data.Pages }}
{{ $count4 := sub (add $length 1 ) (mul 50 (sub $paginator.PageNumber 1)) }}
{{ range $paginator.Pages.GroupByDate "2006" }}
{{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount  }}{{ end }}
{{ $leng := len .Pages }}
<section>
<div class="year"><h2>{{ .Key }}<span class="des4">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</span></h2></div>
<div class="discover-wrap">
  <div class="discover a1">
  {{- range (where .Pages "Type" "post") -}}
  
  {{ if .Params.img }}
  <div class="discover-grid">
    <div class="archive-card-container"><div class="post-card" style="background-image: url({{ .Params.img }})">
      <div class="archive-left archive-left-card">{{ $count4 = sub $count4 1  }}{{ $count4 }}</div>
    </div></div>
    <div class="discover-grid-sub">
      <span class="archive-info a1"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
      <div class="discover-item"><a href="{{ .Permalink }}"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
      <span class="des3 a1">{{ .Params.description | safeHTML  | markdownify }}</span>
      <div class="des3 a1">
        {{- with .Params.author -}}
            {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "term" (printf "author/%s" $name) | default ($.Site.GetPage "term" (printf "author/%s" ($name | urlize))) -}}
            <a href="/author/{{ $name }}">@{{- $name -}}</a>
            {{- end -}}
            {{- end -}}
        {{- end -}}
        {{- with .Params.categories -}}
            {{- range . -}}
            {{- $name := . -}}
            {{- with $.Site.GetPage "term" (printf "categories/%s" $name) | default ($.Site.GetPage "term" (printf "categories/%s" ($name | urlize))) -}}
              　<a href="/categories/{{ $name }}"  target="_blank">[{{- $name -}}]</a>
            {{- end -}}
            {{- end -}}
        {{- end -}}
        {{- with .Params.series -}}
        {{- range . -}}
        {{- $name := . -}}
        {{- with $.Site.GetPage "term" (printf "series/%s" $name) | default ($.Site.GetPage "term" (printf "series/%s" ($name | urlize))) -}}
          　<a href="/series/{{ $name }}"  target="_blank">{{- $name -}}｜</a>
        {{ end -}}
        {{ end }}
    {{- end }}
      </div>
    </div>
    </div>
  {{ else }}
  
  <div>
        <div class="archive-left">{{ $count4 = sub $count4 1  }}{{ $count4 }}</div>
        <span>
          <span class="archive-info a1"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
          <div class="discover-item"><a href="{{ .Permalink }}" class="archive-post-link"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
          <span class="des3 a1">{{ .Params.description | safeHTML  | markdownify }}</span>
          <div class="des3 a1">
            {{- with .Params.author -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "term" (printf "author/%s" $name) | default ($.Site.GetPage "term" (printf "author/%s" ($name | urlize))) -}}
                <a href="/author/{{ $name }}">@{{- $name -}}</a>
                {{- end -}}
                {{- end -}}
            {{- end -}}
            {{- with .Params.auth -}}
                                {{- range . -}}
                                {{- $name := . -}}
                                {{- with $.Site.GetPage "term" (printf "auth/%s" $name) | default ($.Site.GetPage "term" (printf "auth/%s" ($name | urlize))) -}}
                              <a href="/auth/{{ $name }}">@{{- $name -}}</a>
                                {{- end -}}
                                {{- end -}}
                            {{- end -}}
            {{- with .Params.categories -}}
                {{- range . -}}
                {{- $name := . -}}
                {{- with $.Site.GetPage "term" (printf "categories/%s" $name) | default ($.Site.GetPage "term" (printf "categories/%s" ($name | urlize))) -}}
                  　<a href="/categories/{{ $name }}"  target="_blank">[{{- $name -}}]</a>
                {{- end -}}
                {{- end -}}
            {{- end -}}
            {{- with .Params.series -}}
            {{- range . -}}
            {{- $name := . -}}
            {{- with $.Site.GetPage "term" (printf "series/%s" $name) | default ($.Site.GetPage "term" (printf "series/%s" ($name | urlize))) -}}
              　<a href="/series/{{ $name }}"  target="_blank">{{- $name -}}｜</a>
            {{ end -}}
            {{ end }}
        {{- end }}
        {{ with .Params.tags -}}
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "term" (printf "tags/%s" $name) | default ($.Site.GetPage "term" (printf "tags/%s" ($name | urlize))) -}}
        <span class="archive-info a1"><a href="/tags/{{ $name }}"  target="_blank">#{{- $name -}}</a></span>
        {{ end -}}
        {{ end }}
    {{- end }}
        {{ with .Params.notes -}}
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "term" (printf "notes/%s" $name) | default ($.Site.GetPage "term" (printf "notes/%s" ($name | urlize))) -}}
        <span class="archive-info a1"><a href="/notes/{{ $name }}"  target="_blank">({{- $name -}})</a></span>
        {{ end -}}
        {{ end }}
    {{- end }}
    {{- with .Params.subject -}}
    {{- range . -}}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "subject/%s" $name) | default ($.Site.GetPage "term" (printf "subject/%s" ($name | urlize))) -}}
    <span class="archive-info a1"><a href="/subject/{{ $name }}"  target="_blank">#{{- $name -}}</a></span>
    {{ end -}}
    {{ end }}
{{- end }}
{{- with .Params.from -}}
    {{- range . -}}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "from/%s" $name) | default ($.Site.GetPage "term" (printf "from/%s" ($name | urlize))) -}}
    <span class="archive-info a1"><a href="/from/{{ $name }}"  target="_blank">«{{- $name -}}</a></span>
    {{ end -}}
    {{ end }}
{{- end }}
          </div>
        </span>
    </div>

    {{ end }}





    {{ end }}
       </div>
      </div>
  </section>    {{ end }}
