<section class="article-front">
    <div class="article-card-container">
    {{ if .Params.img }}
<div class="article-card-content" style="background-image: url({{ .Params.img }})"></div>
  {{ else }}
  <div class="article-card-content" style="background-image: url(https://pic.imgdb.cn/item/5f2d412814195aa594f276a3.jpg)"></div>
  {{ end }}
</div>
<div class="article-info">
<div class="des-base des-des a1">
<time datetime="{{ .Date.Format "2006-01-02" }}">
{{ .Date.Format "2006-01-02" }}
{{ if ne .Date .Lastmod }}> {{ .Lastmod.Format "2006-01-02" }}{{ end }}</time>
</div>
<div class="des-base des-des a1">
<span>{{- .WordCount }} 字</span>
{{ partial "sourcecode.html" . }}
</div>
<div class="des-base des-des des-tag a1">
{{- with .Params.author -}}
    <span>作者
    {{- range . -}}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "author/%s" $name) | default ($.Site.GetPage "term" (printf "author/%s" ($name | urlize))) -}}
    <a href="/author/{{ $name }}">@{{- $name -}}</a></span>
    {{- end -}}
    {{- end -}}
{{- end -}}
{{- with .Params.auth -}}

<span>作者
{{ range . }}
{{- $name := . -}}
{{- with $.Site.GetPage "term" (printf "auth/%s" $name) | default ($.Site.GetPage "term" (printf "auth/%s" ($name | urlize))) -}}
<a href="/auth/{{ $name }}">@{{- $name -}}</a></span>
{{ end -}}
{{ end }}
{{- end }}

{{- with .Params.from -}}
　<span>來源
{{ range . }}
{{- $name := . -}}
{{- with $.Site.GetPage "term" (printf "from/%s" $name) | default ($.Site.GetPage "term" (printf "from/%s" ($name | urlize))) -}}
<a href="/from/{{ $name }}">«{{- $name -}}</a></span>
{{ end -}}
{{ end }}
{{- end }}

{{- with .Params.series -}}
    　<span>系列
    {{- range . -}}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "series/%s" $name) | default ($.Site.GetPage "term" (printf "series/%s" ($name | urlize))) -}}
    <a href="/series/{{ $name }}">{{- $name -}}｜</a></span>
    {{- end -}}
    {{- end -}}
{{- end -}}

{{- with .Params.tags -}}
    　<span>標籤
    {{- range . -}}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "tags/%s" $name) | default ($.Site.GetPage "term" (printf "tags/%s" ($name | urlize))) -}}
    <a href="/tags/{{ $name }}">#{{- $name -}}</a></span>
    {{- end -}}
    {{- end -}}
{{- end -}}

{{- with .Params.book -}}
        　<span>學科
        {{- range . -}}
        {{- $name := . -}}
        {{- with $.Site.GetPage "term" (printf "book/%s" $name) | default ($.Site.GetPage "term" (printf "book/%s" ($name | urlize))) -}}
       <a href="/read#{{ $name }}">#{{- $name -}}</a>
        {{- end -}}
        {{- end -}}
    {{- end }}
    {{- with .Params.step -}}
        {{- range . -}}
        {{- $name := . -}}
        {{- with $.Site.GetPage "term" (printf "step/%s" $name) | default ($.Site.GetPage "term" (printf "step/%s" ($name | urlize))) -}}
     <a href="/read#{{ $name }}">{{- $name -}}</a></span>
        {{- end -}}
        {{- end -}}
    {{- end -}}

{{- with .Params.notes -}}
    　<span>備註
    {{ range . }}
    {{- $name := . -}}
    {{- with $.Site.GetPage "term" (printf "notes/%s" $name) | default ($.Site.GetPage "term" (printf "notes/%s" ($name | urlize))) -}}
    <a href="/notes/{{ $name }}">({{- $name -}})</a></span>
    {{ end -}}
    {{ end }}
{{- end }}
</div>

<div class="des-base des-des des-tag a1">
{{- if .Params.contentCopyright -}}
<span>版權 </span>{{ .Params.contentCopyright | safeHTML }}
{{- else -}}
<span>版權 </span>{{ .Site.Params.contentCopyright | safeHTML }}
{{- end -}}
</div>
</section>