<nav class="banner-wrap">
    <div class="banner">
    <a href="/">主葉</a>
      <a href="/#gallery">作品</a>
      <details>
      <summary>網誌</summary>
      {{ range .Site.Menus.nav1 }}
          <div style="margin: auto -.5em auto 1em"><a href="{{  .URL  }}">{{- .Name | safeHTML  -}}</a></div>
      {{- end -}}
  </details>
  <details>
    <summary>刊物</summary>
    {{ range .Site.Menus.nav2 }}
        <div style="margin: auto -.5em auto 1em"><a href="{{  .URL  }}">{{- .Name | safeHTML  -}}</a></div>
    {{- end -}}
  </details>
  <details>
  <summary>知識</summary>
  {{ range .Site.Menus.nav3 }}
      <div style="margin: auto -.5em auto 1em"><a href="{{  .URL  }}">{{- .Name | safeHTML  -}}</a></div>
  {{- end -}}
</details>
<details>
<summary>數據庫</summary>
{{ range .Site.Menus.nav4 }}
    <div style="margin: auto -.5em auto 1em"><a href="{{  .URL  }}">{{- .Name | safeHTML  -}}</a></div>
{{- end -}}
</details>
    </div>
    <div class="banner banner1">
<input id="algolia-autocomplete" placeholder="【Algolia 搜索】輸入後無需回車" class="search">
    </div>
</nav>
<br><br>
