<center><strong>站慶三週年讀者感恩！詳見主頁封面</strong></center>
{{ if or .Params.vertical (and .Site.Params.vertical (ne .Params.vertical false)) }}
<div class="vertical-wrap">
{{ if .TableOfContents }}
<aside class="toc">
<li class="toc-item">{{ .TableOfContents }}</li>
</aside>
{{ end }}
    <article class="DocSearch-content vertical">
    {{ .Content }}
    </article>
  </div>
      {{ else }}
      <div class="verticlal-false-wrap">
    {{ if .TableOfContents }}
      <aside class="toc toc-verticlal-false">
      <li class="toc-item">{{ .TableOfContents }}</li>
    </aside>
    {{ end }}
         <article class="DocSearch-content vertical-false">
            {{ .Content }}
          </article>
      </div>
    {{ end }}