<footer class="footer-wrapper">
  <div class="col">
        <div class="col1" style="margin-top:.8em">
      <div class="col1"><a href="/" target="_blank"><span class="col1-title">發現</span></a></div>
      <div class="col1"><a href="/post" target="_blank"><span class="col1-title">博客</span></a></div>
      <div class="col1"><a href="https://kqh.wiki" target="_blank"><span class="col1-title">維基</span></a></div>
      <div class="col1"><a href="/about" target="_blank"><span class="col1-title">關於</span></a></div>
      <div class="col1"><a href="/links" target="_blank"><span class="col1-title">友鏈</span></a></div>
      <div class="col1">　</div>
      <div class="col1"><a href="/paper" target="_blank"><span class="col1-title col2">文章發表</span></a><br>{{ with .Site.GetPage "/paper" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/guqin" target="_blank"><span class="col1-title col2">古琴</span></a><br>{{ with .Site.GetPage "/guqin" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/performing" target="_blank"><span class="col1-title col2">古琴演出</span></a><br>{{ with .Site.GetPage "/performing" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/recording" target="_blank"><span class="col1-title col2">實地録音</span></a><br>{{ with .Site.GetPage "/recording" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/calligraphy" target="_blank"><span class="col1-title col2">書法</span></a><br>{{ with .Site.GetPage "/calligraphy" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/design" target="_blank"><span class="col1-title col2">海報設計</span></a><br>{{ with .Site.GetPage "/design" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/reading" target="_blank"><span class="col1-title col2">讀切韻</span></a><br>{{ with .Site.GetPage "/reading" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
      <div class="col1"><a href="/dubbing" target="_blank"><span class="col1-title col2">旁白播音</span></a><br>{{ with .Site.GetPage "/dubbing" }}{{ .Lastmod.Format "2006-01-02" }}{{ end }}</div>
  </div>
            <ul>

              <h2>系列<span style="color:#f88788;font-size:.7em"> {{ len .Site.Taxonomies.tags }}</span></h2>
                {{ range .Site.Taxonomies.tags.ByCount  }}
                <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title }} {{ .Count }}</a></li>
                {{ end }}
            </ul>
    <ul>
      <h2>分類<span style="color:#f88788;font-size:.7em"> {{ len .Site.Taxonomies.categories }}</span></h2>
        {{ range .Site.Taxonomies.categories.ByCount }}
        <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title }} {{ .Count }}</a></li>
        {{ end }}
        <h2>作者<span style="color:#f88788;font-size:.7em"> {{ len .Site.Taxonomies.author }}</span></h2>
          {{ range .Site.Taxonomies.author.ByCount }}
          <li><a href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title }} {{ .Count }}</a></li>
          {{ end }}
    </ul>
  </div>

  <div class="Footer">
        <strong><a href="/index.xml" target="_blank">RSS</a></strong>　<strong><a href="https://kujihhoe.us17.list-manage.com/subscribe/post?u=3fb7b2733301fbcf39ec69597&id=6819d3d05d" target="_blank" class="theme-link">SUBSCRIBE</a></strong>　<a href="/sitemap.xml" target="_blank">sitemap</a><br>
        copyright <a href="/" target="_blank">赫赫文王</a>　2017-10-03 >   {{ now.Format "2006" -}}<br>
        power <a href="https://gohugo.io" target="_blank">Hugo</a>　theme <a href="https://themes.gohugo.io/hugo-flex/" target="_blank">Flex</a>-<a href="https://github.com/kujihhoe/blogflex" target="_blank">CJK</a>　host <a href="https://app.netlify.com/sites/kqh/deploys" target="_blank">Netlify</a>
<div style="margin:1em auto">——— 提 示 ———</div>
<li>本站提供兩種訂閱方式:MailChimp郵件,近30篇RSS</li>
<li>推薦在電腦端使用Chromium內核 Firefox瀏覽</li>
<li>【隱私】本站使用Google Analytics進行流量分析；評論系統使用诏预Isso开放服务；托管於Netlify。除此之外我們不掌握其他信息</li>
<li>【全部博文 IPFS hash】QmQoKUvYaQXXpbdWwhNxd4ckZfbesySUAbufkCr9f7QZEX</li>
<li>更多見 關於</li>
<div style="margin:1em auto">——— 更 新 ———</div>
<li>2020-04-01 弟四板。採用顛覆式的全卡片式，取消了頁首</li>
<li>2020-04-07 v4.5.0</li>
<li>更多見 hello world!</li>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108451819-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108451819-1');
</script>
  </footer>
