<footer class="footer-wrapper">
  <nav class="col">
        <div class="col1">
      {{ range .Site.Menus.nav }}
          <div class="col1"><a href="{{  .URL  }}"><span class="col1-title">{{- .Name | safeHTML -}}</span></a></div>
      {{ end }}
      {{ range .Site.Menus.main }}
        <div class="col1"><a href="{{ .URL  }}"><span class="col1-title col2">{{- .Name | safeHTML -}}</span></a>
          <div>{{ .Page.Lastmod.Format "06-01-02" }}</div></div>
      {{ end }}
  </div>
  <div class="col1">
    <div class="col1">网誌</div>
{{ range .Site.Menus.nav1 }}
    <div class="col1"><a href="{{  .URL  }}"><span class="col1-title">{{- .Name | safeHTML -}}</span></a></div>
{{ end }}
</div>
<div class="col1">
  <div class="col1">知識</div>
{{ range .Site.Menus.nav2 }}
  <div class="col1"><a href="{{  .URL  }}"><span class="col1-title">{{ .Name | safeHTML }}</span></a></div>
{{ end }}
</div>
<div class="col1" style="margin-top:1em">
<div class="col1">數據庫</div>
{{ range .Site.Menus.nav3 }}
  <div class="col1"><a href="{{  .URL  }}"><span class="col1-title">{{ .Name | safeHTML }}</span></a></div>
{{ end }}
</div>
  </nav>
{{ partial "footer-sub.html" . }}  
  </footer>
