<footer class="footer-wrapper">
  <nav class="col a2">  
   <ul style="margin-top:1em;font-size:1.2em"> 
        {{ range .Site.Menus.nav }}
        <li><a href="{{  .URL  }}">{{- .Name | safeHTML -}}</a></li>
        {{ end }}
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL  }}">{{- .Name | safeHTML -}}</a>
      <div class="des3" style="margin-top:-.5em;font-size:.7em">{{ .Page.Lastmod.Format "06-01-02" }}</div></li>  
        {{ end }}
     </ul>
     <ul style="margin-top:.85em;font-size:1.2em">
      <a href="/#gallery">作品</a>
      <div class="des3" style="font-size:.7em">网誌</div>
    {{ range .Site.Menus.nav1 }}
    <li><a href="{{  .URL  }}">{{- .Name | safeHTML -}}</a></li>
    {{ end }}
      <div class="des3" style="font-size:.7em">刊物</div>
      {{ range .Site.Menus.nav2 }}
      <li><a href="{{  .URL  }}">{{ .Name | safeHTML }}</a></li>
      {{ end }}
      </ul>
      <ul style="margin-top:1em;font-size:1.2em">
    <div class="des3" style="font-size:.7em">知識</div>
    {{ range .Site.Menus.nav3 }}
    <li><a href="{{  .URL  }}">{{ .Name | safeHTML }}</a></li>
    {{ end }}
    <div class="des3" style="font-size:.7em">數據庫</div>
    {{ range .Site.Menus.nav4 }}
    <li><a href="{{  .URL  }}">{{ .Name | safeHTML }}</a></li>
    {{ end }}
    </ul>
    </nav>
      
     <nav class="col a2">
      {{ $series := where .Site.Taxonomies.series "Type" "post" }}
      {{ $categories := where .Site.Taxonomies.categories "Type" "post" }}
      {{ $author := .Site.Taxonomies.author }}
      {{ $notes := where .Site.Taxonomies.notes "Type" "post" }} 
    <ul>
      <h2>分類<span style="color:#d2c600;font-size:.7em"> {{ len $categories }}</span></h2>
        {{ range $categories.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{- .Page.Title }} {{ .Count -}}</a></li>
        {{ end }}
        </ul>
        <ul>
          <h2>系列<span style="color:#d2c600;font-size:.7em"> {{ len $series }}</span></h2>
          {{ range $series.ByCount }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title | safeHTML  }} {{ .Count }}</a></li>
  {{ end }}
        </ul>
            <ul>
        <h2>作者<span style="color:#d2c600;font-size:.7em"> {{ len $author  }}</span></h2>
          {{ range $author.ByCount  }}
          <li><a href="{{ .Page.Permalink }}">{{- .Page.Title }} {{ .Count -}}</a></li>
          {{ end }}
    <h2>備註<span style="color:#d2c600;font-size:.7em"> {{ len $notes }}</span></h2>
      {{ range $notes.ByCount  }}
      <li><a href="{{ .Page.Permalink }}">{{- .Page.Title }} {{ .Count -}}</a></li>
      {{ end }}
      <h2><a href="/tags">標籤<span style="font-size:.7em"> {{ len .Site.Taxonomies.tags }}</span></a></h2>
    </ul>
  </nav>
{{ partial "footer-sub.html" . | markdownify }}
  </footer>
