{{ partialCached "banner.html" . }}
<header class="Heading">
  {{ $termName := .Data.Singular }}
  {{ $type := .Type }}
  {{  if and $.Site.Taxonomies.categories (eq $termName "category") }}
  <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/post">网誌</a>»分類»</span><h1 class="DocSearch-lvl0 Heading-title taxo" style="font-size:3.2em">{{- .Title | safeHTML -}}</h1>
{{- with $des := index (.Site.Data.taxo ) .Title -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
    {{ else if and $.Site.Taxonomies.series (eq $termName "series") }}
  <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/post">网誌</a>»系列»</span><h1 class="Heading-title taxo" style="font-size:3.2em">{{- .Title  | safeHTML -}}</h1>
{{- with $des := index (.Site.Data.taxo ) .Title -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
      {{ else if and $.Site.Taxonomies.author (eq $termName "author") }}
<span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/post">网誌</a>»作者»</span><h1 class="Heading-title taxo" style="font-size:3.2em">{{- .Title  | safeHTML -}}</h1>
{{- with $des := index (.Site.Data.taxo ) .Title -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
{{ else if and $.Site.Taxonomies.tags (eq $termName "tag") }}
<span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/post">网誌</a>»<a href="/tags">標籤</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">{{- .Title  | safeHTML -}}</h1>
{{- with $des := index (.Site.Data.taxo ) .Title -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
      {{ else }}
      <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/post">网誌</a>»
        {{- with .Params.categories -}}
            {{- range . -}}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
          <a class="DocSearch-lvl0" href="/categories/{{ $name }}">{{- $name -}}</a>»
            {{- end -}}
            {{- end -}}
        {{- end -}}
      </span><h1 class="DocSearch-lvl1 Heading-title taxo" style="font-size:3.2em">{{- .Title  | safeHTML -}}</h1>
{{ end }}
{{ if .Description }}
<div class="des">{{ .Params.Description | safeHTML }}</div>
{{ end }}
</header>
