## 本站推出終身會員計畫

爲了有點錢，本站現推出超級會員大禮包！！ 

1. 四大會員專區：「赫赫網摘」之<a href="/net#我來幫你刷微博" target="_blank">「我來幫你刷微博」</a>、<a href="/tutorial#赫赫金鑰" target="_blank">「赫赫金鑰」</a>、「赫赫蠹書」之<a href="/read#踐行社會主義核心價値觀" target="_blank">「踐行社會主義核心價値觀」</a>、<a href="/#zanfu" target="_blank">「赫赫讚府」</a>
2. 不定期會員專屬發佈
3. 1G 小 U 盤一個。電子版內容存檔均通過 U 盤郵寄
4. 唯一編號定制不鏽鋼書簽一枚
5. 當年站慶小海報一張、歷年海報高清電子版一份<n>〔始於 2020 年〕</n>
6. 加入終身會員 QQ 群<n>（自願）</n>、終身郵箱訂閱列表
7. 由您選擇的實地面基的機會<n>（目前在海淀）〔更多權益歡迎提出〕</n>

會員權益爲 <b>終身制</b>！！持續更新一百年！！點擊上圖瞭解詳情。 

四大專區試讀文章：

- <a href="/net/news-wechat" target="_blank">我來幫你刷微博｜圓桌一：微信討伐</a>
- <a href="/key/03" target="_blank">赫赫金鑰｜調學</a>
- <a href="/read/on-liberty" target="_blank">約翰·密爾《論自由》述要</a>
- 赫赫讚府不提供試讀


