{{ range $.Site.Data.gallery.performing }}
<div class="discover-grid">
  <div class="post-card-container"><div class="post-card" style="background-image: url({{ .img }})"></div></div>
  <div class="discover-grid-sub">
  <time class="archive-info">{{ .date }}</time>
    <div class="discover-item"><a href="{{ .Permalink }}"  target="_blank">{{- .title | safeHTML | markdownify -}}</a></div>
    <div class="des2 home">{{ .description | safeHTML  | markdownify }}</div>
    <div class="des2 home">{{ .quote | safeHTML  | markdownify }}</div>
  </div>
  </div>
{{ end }}