以下四箇平臺同步發布，內容完全一致：
  
- 播客 Podcast　<a href="https://podcasts.apple.com/hk/podcast/%E6%83%85%E5%BD%A2%E4%BA%8E%E5%A3%B0-endless-sound/id1483568121" target="\_blank">情形于声 The Faint</a><n>似乎鏈接打不開，直接在 app 上搜索吧</n>
- 網易雲音樂電臺　<a href="http://music.163.com/#/radio/527105637?userid=275990862" target="\_blank">情形于声</a>
- bilibili　 [情形于声](https://www.bilibili.com/audio/am31346691)
- 喜馬拉雅　<a href="https://www.ximalaya.com/renwen/30113938/" target="\_blank">情形于声</a>
- ~~SoundCloud　[Kujihhoe](https://soundcloud.com/kujihhoe)　莫名其妙帳號消失？？~~

您還可以在泛用型播客軟件中用 [RSS](http://www.ximalaya.com/album/30113938.xml)<n>喜馬拉雅提供</n> 訂閱本臺。本播客還收錄於 [podtail](https://podtail.com/podcast/--endless-sound/)

您可以在 [錄音分類](/categories/%E9%8C%84%E9%9F%B3/) 中閱讀我有關錄音的文章。

