{{ define "main" }}
    <article>
      <div class="heading-wrap">
      {{ partial "heading.html" . }}
      <div class="archive-info" style="font-size:1em;text-align:center">修改 {{ .Lastmod.Format "2006-01-02" }}</div>
      </div>
      <div class="content">
          {{ if .TableOfContents }}
            <div class="toc sticky">
            <li class="toc-item">{{ .TableOfContents }}</li>
</div >
          {{ end }}

             <div class="vertical-false">
                {{ .Content }}
              </div>
          </div>
         <div class="u-wrapper">
           <div class="u-padding">
  {{ partial "comments.html" . }}
  </div></div>
    </article>
    {{ end }}
