{{ define "main" }}
      <div class="heading-wrap">
      {{ partial "heading.html" . }}
      {{ partial "article-front.html" . }}
      </div>
      <main>
          {{ if .TableOfContents }}
            <aside class="toc sticky">
            <li class="toc-item">{{ .TableOfContents }}</li>
</aside>
          {{ end }}
             <article class="DocSearch-content vertical-false">
                {{ .Content }}
  </article>
 
  {{ partial "comments.html" . }}
 
      </main>
          
    {{ end }}
