{{ define "main" }}
<header class="heading-wrap">
        {{ partialCached "banner.html" . }}
  <div class="Heading"><span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#gallery">作品</a>»</span>
   <div class="post-card-container"><div class="post-card post-card-content" style="background-image: url({{ .Params.img }})"></div></div>
    <h1 class="Heading-title taxo" style="font-size:3.2em">{{- .Title | safeHTML | markdownify -}}</h1>
  </div>
  {{ if .Description }}
  <section class="des">{{ .Params.Description | safeHTML  | markdownify }}</section>
  {{ end }}
</header>
      <main>
      <article>
      {{ .Content | safeHTML }}
      </article>
  {{ partial "comments.html" . }}
  </main>
{{ end }}
