<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}
</head>
<body>
  <main>
    <article>
      <div class="heading-wrap">
      {{ partial "heading.html" . }}
      </div>
      {{ .Content }}
      <div class="u-wrapper">
        <div class="u-padding">
          <div class="gallery-nav">
          <span class="gallery-nav-span"><a href="/">主葉/其他作品</a></span>
          <span class="gallery-nav-span"><a href="/post">博客</a></span>
        </div>
  {{ partial "comments.html" . }}
  </div></div>
    </article>
  </main>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108451819-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108451819-1');
</script>
</html>
