{{ define "load_page_assets" }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
    <div class="heading-wrap home">
      <h1>
        <span style="font-size:.3em;letter-spacing:.25em">赫赫文王></span>主葉
      </h1>
    </div>
<body style="padding-bottom:5em">
  <div class="cover">
  <div class="in"> </div>
  <div class="img"><img src="/logo.webp" width="90px" height="195px"></div>
  <div class="label">永嘉田家後/　生於九五後/<br>長于錦官城/　讀的厤史系/</div>
  <div class="mail">
              <table cellpadding=0px style="margin:auto;border:none">
              <tr>
              <td style="text-align:right;border:none">PGP//</td>
              <td style="text-align:left;border:none"><a href="/kujihhoe (E2269D07) public.asc" target="_blank">E2269D07</a></td>
              </tr>
              <tr>
              <td style="text-align:right;border:none">email&iMessage//</td>
              <td style="text-align:left;border:none"><span>me#kqh.me</span></td>
              </tr>
              </table>
    </div>
         <div class="in2"> </div>
  </div>

<img src="https://pic.imgdb.cn/item/5e9193f4504f4bcb04a9154c.png" style="box-shadow:none;border:none;margin-bottom:8em;width:600">


  <h1 style="margin:0 auto">作品</h1>
  <div class="bigcard" style="width:70%">
  {{- $gallery := .Paginate (where .Site.RegularPages.ByLastmod.Reverse "Type" "gallery") }}
{{ range $gallery.Pages }}
  <div class="card-container"style="max-width: 16em">
<div class="card">
<h2><a href="{{ .Permalink | safeURL }}"  target="_blank">{{ .Title }}</a></h2>
<div class="archive-info">{{ .Page.Lastmod.Format "2006-01-02" }}</div>
<p> {{ .Page.Params.des }}</p>
  </div>
  </div>
    {{ end }}
  </div>

  <div class="gallery" style="margin:4em auto 0">
  <div class="paper-wrap">
  <div class="paper-card recording"style="border: .3em solid #2b2b2b;"><div class="paper-card-in">
<h2><a href="/zanfu" target="_blank">赫赫讚府</a></h2>
  <div class="discover-des" style="margin: -1.5em  auto 1em">最近修改</div>
{{ range first 5   (where .Site.RegularPages.ByLastmod.Reverse "Type" "zanfu") }}
          <div >
            <span class="archive-info" style="margin:auto">{{ .Lastmod.Format "06-01-02" }}</span>　<a href="{{ .Permalink }}"  target="_blank">{{ .Title }}</a>
          </div>
{{ end }}
</div></div></div>
<div class="paper-wrap">
<div class="paper-card recording" style="max-height:none;border: .3em solid #2b2b2b;"><div class="paper-card-in">
  <h2><a href="/xuekan" target="_blank">春秋學刊</a></h2>
    <div class="discover-des" style="margin: -1.5em  auto 1em">最近發布</div>
            {{ range first 5   (where .Site.RegularPages.ByDate.Reverse "Type" "xuekan") }}
                      <div >
                        <span class="archive-info"style="margin:auto">{{ .Date.Format "06-01-02" }}</span>　<a href="{{ .Permalink }}"  target="_blank">{{ .Title }}</a>
                      </div>
            {{ end }}
</div></div></div>
</div>

  <div class="heading-wrap home" style="margin-top:5em">
    <h1>
      <span style="font-size:.3em;letter-spacing:.25em">赫赫文王><a href="/post" target="_blank">博客</a>></span>發現
    </h1>
  </div>
  <div class="gallery" style="margin-top:7em">
  <div class="paper-wrap">
  <div class="paper-card recording"style="border: .3em solid #2b2b2b;"><div class="paper-card-in">
<h2>最近發布</h2>
{{ range first 15   (where .Site.RegularPages.ByPublishDate.Reverse "Type" "post") }}
          <div >
            <span class="archive-info" style="margin:auto">{{ .Date.Format "06-01-02" }}</span>　<a href="{{ .Permalink }}"  target="_blank">{{ .Title }}</a>
          </div>
{{ end }}
</div></div></div>
<div class="paper-wrap">
<div class="paper-card recording" style="max-height:none;border: .3em solid #2b2b2b;"><div class="paper-card-in">
  <h2>最近修改</h2>
            {{ range first 15   (where .Site.RegularPages.ByLastmod.Reverse "Type" "post") }}
                      <div >
                        <span class="archive-info"style="margin:auto">{{ .Lastmod.Format "06-01-02" }}</span>　<a href="{{ .Permalink }}"  target="_blank">{{ .Title }}</a>
                      </div>
            {{ end }}
</div></div></div>
</div>
<h1 style="margin:0 auto">分類</h1>
  <div class="discover-des" style="margin: 0 auto">隨機生成五項</div>
<div class="bigcard">
{{ range .Site.Taxonomies.categories.ByCount  | shuffle }}
<div class="card-container">
<div class="card">
<h2><a href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title }}</a></h2>
{{ $pages := .Pages | shuffle  }}
    {{ range first 5 $pages }}
<div class="item"><a href="{{ .Permalink }}" class="archive-post-link"  target="_blank">{{ .Title }}</a></div>
{{ end }}
</div>
</div>
{{ end }}
</div>
<div class="discover-wrap">
  <h1>年度🔝</h1>
  <div class="discover-des">以每年10月3日爲界，按瀏覽量排序。瀏覽量不等於質量，以下排序不代表博主意願。排除索引、非原創頁面</div>
<div class="discover" >
<ol>
  <h2>2017-2018</h2>
  {{ range .Site.Menus.top2018  }}
      <li><a href="{{  .URL | absLangURL | safeURL }}"  target="_blank">{{ .Name }}</a></li>
  {{ end }}
</ol>
<ol>
  <h2>2018-2019</h2>
  {{ range .Site.Menus.top2019  }}
      <li><a href="{{  .URL | absLangURL | safeURL }}"  target="_blank">{{ .Name }}</a></li>
  {{ end }}
</ol>
</div>
</div>

<div class="heading-wrap home" style="margin:6em 0 3em">
  <h1>
    <span style="font-size:.3em;letter-spacing:.25em">赫赫文王></span><a href="https://kqh.wiki" target="\_blank">維基</a>
  </h1>
</div>
<div class="gallery" style="margin:7em auto -4em">
<div class="paper-wrap">
<div class="paper-card recording"style="border: .3em solid #2b2b2b;"><div class="paper-card-in">
<h2>傳世琴譜數字文本化工程</h2>
是學術性的而非音樂性的，不提供流行樂譜。減字譜的數字文本化將爲深入化的古琴研究提供基礎。
這項工程前無古人，需要耗費巨大的精力。我目前沒這功夫，眞正啓動可能要等到四五秊之後，現在處於預備狀態
</div></div></div>
<div class="paper-wrap">
<div class="paper-card recording" style="max-height:none;border: .3em solid #2b2b2b;"><div class="paper-card-in">
<h2>赫赫複印資料</h2>
保存的是網上比較有價值的文章、報導，作爲一箇未來的史料索引。
</div></div></div>
<div class="paper-wrap">
<div class="paper-card recording" style="max-height:none;border: .3em solid #2b2b2b;"><div class="paper-card-in">
<h2>赫赫維基</h2>
<div>【讀書】目前有《尙書》筆記</div>
<div>【上課】上課筆記</div>
<div>【資料數字化】很少</div>
<div>【草稿】</div>

</div></div></div>
</div>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108451819-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108451819-1');
</script>
{{ end }}
