{{ define "load_page_assets" }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
<body>
  {{ partial "heading.html" . }}
  <div class="cover">
  <div class="time">
  </div>
  <div class="in"> </div>
      <div class="in1"> </div>
  <br><img src="/logo.webp" width="90px"><div class="cate" style="margin:1em auto 4em auto">（ 赫 赫 文 王 ）</div>
  <div class="cover-hr">○ ● ○ ● ○ ● ○ ● ○</div>
  <p class="label">永嘉田家後/　生於九五後/</p><p class="label">長于錦官城/　讀的厤史系/</p>
  <div class="cover-hr">○ ● ○ ● ○ ● ○ ● ○</div>
  <div class="mail">
              <table cellpadding=0px style="text-align:left;margin:0 auto 40px auto;">
              <tr>
              <td style="text-align:right;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,Microsoft YaHei,Sans-serif">PGP //&nbsp </td>
              <td><a href="/kujihhoe (E2269D07) public.asc" target="_blank">E2269D07</a></td>
              </tr>
              <tr>
              <td style="text-align:right;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,Microsoft YaHei,Sans-serif">email&iMessage //&nbsp </td>
              <td><span>me (at) kqh.me</span></td>
              </tr>
              </table>
  						</div>
                  <div class="in2"> </div>
        </div>
<div class="archive-wrapper" style="padding-bottom:1.5em;margin:6em auto 8em;">
        <div class="lastmod">
          <h2>最近修改</h2>
            {{- $lastmod := .Paginate (where .Site.Pages.ByLastmod.Reverse "Type" "post") (index 25) }}
          {{- range $lastmod.Pages -}}
                    <div class="lastmod-wrap">
                      <span class="time">{{ .Lastmod.Format "2006-01-02" }} < {{ .Date.Format "2006-01-02" }}</span>　<a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>
          {{ end }}
        </div>
</div>
</body>
{{ end }}
