{{ define "load_page_assets" }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
<body>
	  <div class="heading-wrap">
  {{ partial "heading.html" . }}
  <div class="count">主葉//發現</div>
  </div>
  <div class="cover">
  <div class="time">
  </div>
  <div class="in"> </div>
  <div class="img"><img src="/logo.webp" width="90px" height="195px"></div>
  <div class="label">永嘉田家後/　生於九五後/<br>長于錦官城/　讀的厤史系/</div>
  <div class="mail">
              <table cellpadding=0px style="margin:auto">
              <tr>
              <td style="text-align:right;">PGP//</td>
              <td style="text-align:left;"><a href="/kujihhoe (E2269D07) public.asc" target="_blank">E2269D07</a></td>
              </tr>
              <tr>
              <td style="text-align:right">email&iMessage//</td>
              <td style="text-align:left;"><span>me#kqh.me</span></td>
              </tr>
              </table>
    </div>
         <div class="in2"> </div>
  </div>
<div class="discover-wrap">
  <h1><a href="/post">博客</a></h1>
     <div class="discover">
       <div class="discover-wwrap"><h2>最近發布</h2>
  {{ range first 10   (where .Site.RegularPages.ByPublishDate.Reverse "Type" "post") }}
            <div >
              <span class="archive-info" style="margin:auto">{{ .Date.Format "06-01-02" }}</span>　<a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
  {{ end }}</div><div class="discover-wwrap">
<h2>最近修改</h2>
          {{ range first 25   (where .Site.RegularPages.ByLastmod.Reverse "Type" "post") }}
                    <div >
                      <span class="archive-info"style="margin:auto">{{ .Lastmod.Format "06-01-02" }}</span>　<a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>
          {{ end }}
          </div>
          </div>
</div>
<div class="discover-wrap" style="max-height:none">
  <h1>年度🔝</h1>
  <div class="discover-des">以每年10月3日爲界，按瀏覽量排序。瀏覽量不等於質量，以下排序不代表博主意願。排除索引、非原創頁面</div>
<div class="discover" >
<ol>
  <h2>2017-2018</h2>
<li><a href="/blog/2018/01/24/tiyj.html" target="_blank">立言記·終篇｜來輔大交換是一種怎樣的體驗？</a></li>
<li><a href="/blog/2017/10/28/fuchou.html" target="_blank">元麟記｜構建與瓦解──《公羊》齊襄復讎事詮釋史</a></li>
<li><a href="/blog/2017/10/04/shuoming.html" target="_blank">博客開通啦！</a></li>
<li><a href="/blog/2017/11/01/wjqb.html" target="_blank">絃耕知聞｜我在臺灣的古琴活動</a></li>
<li><a href="/blog/2017/10/17/jiejue.html" target="_blank">彫梓記｜比較理想的排版解決方案</a></li>
<li><a href="/blog/2017/12/01/yinlv.html" target="_blank">金手指二｜傳統調學</a></li>
<li><a href="/blog/2017/11/02/guoyu.html" target="_blank">方音記｜一些兩岸詞彙、讀音對照</a></li>
<li><a href="/blog/2017/10/05/hxlm.html" target="_blank">立言記｜第一次相遇，你好花蓮</a></li>
<li><a href="/blog/2017/10/16/sizhong.html" target="_blank">彫梓記｜四種字形標準的小比較</a></li>
<li> <a href="/blog/2017/11/19/tangmei.html" target="_blank">絃耕記｜梅花三弄刪宋</a></li>
</ol>
<ol>
  <h2>2018-2019</h2>
<li><a href="/143" target="_blank">鄭玄地位的升降——《禮是鄭學》讀後</a></li>
<li><a href="/blog/2018/10/08/wfvz.html" target="_blank">溫州話璅紀</a></li>
<li><a href="/blog/2018/11/13/ifhssf.html" target="_blank">陳鴻森先生論文集合</a></li>
<li> <a href="/blog/2018/08/15/qpyy.html" target="_blank">金手指｜切韻語音</a></li>
<li><a href="/blog/2018/10/31/jr.html" target="_blank">神奇秘譜的指法蠲</a></li>
<li><a href="/blog/2018/11/02/dijqjp.html" target="_blank">第九屆全國大學生古琴音樂會的些許</a></li>
<li><a href="/blog/2018/11/16/vaji.html" target="_blank">書法史札記三則</a></li>
<li> <a href="/blog/2018/02/09/houzuowu.html" target="_blank">蜀中琴人侯作吾先生</a></li>
<li> <a href="/blog/2018/10/16/szgz.html" target="_blank">一些較古的寫法</a></li>
<li> <a href="/159/" target="_blank">金手指｜古代天文</a></li>
</ol>
</div>
</div>
<h1 style="margin:2em auto 0em">分類</h1>
  <div class="discover-des" style="margin: 0 auto">隨機生成五項</div>
<div class="bigcard">
{{ range .Site.Taxonomies.categories.ByCount  }}
<div class="card-container">
<div class="card">
<div class="title"><a href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title }}</a></div>
{{ $pages := .Pages | shuffle  }}
    {{ range first 5 $pages }}
<div class="item"><a href="{{ .RelPermalink }}" class="archive-post-link">{{ .Title }}</a></div>
{{ end }}
</div>
</div>
{{ end }}
</div>
</body>
{{ end }}
