{{ define "main" }}
{{ partial "heading.html" . }}
{{ .Content }}
<div class="count">
  {{- $length := len .Data.Pages }}
<p>凡 {{ $length }} 篇　{{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}{{ $count }} 字</p>
全部博文 IPFS hash：QmQoKUvYaQXXpbdWwhNxd4ckZfbesySUAbufkCr9f7QZEX
<br>2020-04-01 弟四板上線。採用顛覆式的全卡片式，取消了頁首　2020-04-05 v4.4.2</div>
{{- $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") (index 50) }}
  {{ $count1 := add $length 1 }}
  {{ $count0 := $paginator.PageNumber }}
{{ $count2 := sub $count0 1 }}
{{ $count3 := mul 50 $count2}}
{{ $count4 := sub $count1 $count3 }}
      <div class="pagination-wrap"><nav class="pagination">
        <div>
          {{ range $paginator.Pagers }}
          <span {{ if eq . $paginator }} class="active" {{end}}>
            <a href="{{ .URL }}">{{ .PageNumber }}</a>
          </span>{{ end }}
        </div>
        </nav></div>
        <div class="archive-wrapper">
        {{- range $paginator.Pages -}}
              <div class="archive-wrap">
        <span class="archive-left">
        {{ $count4 = sub $count4 1  }}{{ $count4 }}    </span>
                <span class="archive-right">
                  <div><span class="archive-info archive-info-author"><a href="/author/{{ .Params.author }}" target="_blank">{{- .Params.author -}}</a></span>
                  <span class="archive-title"><a href="{{ .RelPermalink }}" target="_blank">{{- .Title -}}</a></span>
                </div>
                <div class="archive-info">{{ .PublishDate.Format "2006-01-02" }} > {{ .Lastmod.Format "2006-01-02" }}&nbsp
            {{ with .Params.categories -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                  <span class="archive-info archive-info-cate"> <a href="/categories/{{ $name }}"  target="_blank">{{ $name -}}</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}
            {{ with .Params.tags -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
                <span class="archive-info archive-info-tag"><a href="/tags/{{ $name }}"  target="_blank">{{- $name -}}</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}</div>
          </span>
    </div>
    {{ end }}</div>
    <div class="pagination-wrap"><nav class="pagination">
      <div>
        {{ range $paginator.Pagers }}
        <span {{ if eq . $paginator }} class="active" {{end}}>
          <a href="{{ .URL }}">{{ .PageNumber }}</a>
        </span>{{ end }}
      </div>
      </nav></div>
{{ end }}
