{{ define "main" }}
    <div class="heading-wrap">
      {{ partialCached "banner.html" . }}
      <header class="Heading">
        {{ $termName := .Data.Singular }}
        {{ $type := .Type }}
            <span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#data">數據庫</a>»<a class="DocSearch-lvl0" href="/qinpu">琴譜數字文本化</a>»
              {{- with .Params.toc -}}
                  {{- range . -}}
                  {{- $name := . -}}
                  {{- with $.Site.GetPage "taxonomy" (printf "toc/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "toc/%s" ($name | urlize))) -}}
                <a href="/toc/{{ $name }}">{{- $name -}}</a>»
                  {{- end -}}
                  {{- end -}}
              {{- end -}}
            </span><h1 class="DocSearch-lvl1 Heading-title article">{{- .Title | safeHTML | markdownify -}}</h1>
      {{ if .Description }}
      <div class="des">{{ .Params.Description | safeHTML | markdownify }}</div>
      {{ end }}
      </header>
    <section class="tag">
    <div class="des1">
    <time datetime="{{ .Date.Format "2006-01-02" }}">
  {{ .Date.Format "2006-01-02" }}
{{ if ne .Date .Lastmod }}> {{ .Lastmod.Format "2006-01-02" }}{{ end }}</time>　
  <span>{{- .WordCount }} 字</span>
 {{ partial "sourcecode.html" . }}
    </div>
    <div class="des1">
    {{- with .Params.author -}}
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "author/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "author/%s" ($name | urlize))) -}}
        <span class="des1-cate"> <a href="/author/{{ $name }}">@{{- $name -}}</a></span>
        {{- end -}}
        {{- end -}}
    {{- end -}}
  </div>
<div class="des1">
    {{- if .Params.contentCopyright -}}
    <span class="des2">版權 </span>{{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
    <span class="des2">版權 </span>{{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
</div>
</section>
    </div>
    <main>
    {{ if .TableOfContents }}
      <aside class="toc sticky">
      <li class="toc-item">{{ .TableOfContents }}</li>
    </aside>
    {{ end }}
         <article class="DocSearch-content vertical-false">
            {{ .Content }}
          </article>
<section class="u-wrapper">
  <div class="u-padding">
{{ partial "comments.html" . }}
</div></section>
</main>
    {{ partial "footer-xuekan.html" . }}
{{ end }}
