{{ define "main" }}
  <article>
    {{ partial "heading.html" . }}
    <div class="u-wrapper">
      <div class="u-padding">
    {{ partial "tags.html" . }}
    </div></div>
    {{ if or .Params.vertical (and .Site.Params.vertical (ne .Params.vertical false)) }}
<div class="vertical-wrap">
    <div class="vertical">
    {{ .Content }}
    </div></div>
      {{ else }}
          <div class="vertical-false">
          {{ .Content }}
          </div>
    {{ end }}
    <div class="pagi-wrap">
    <div class="pagi" style="  text-shadow: 0px 0px 7px white;">
      {{ with .PrevInSection }}
        <span class=".pagi-prev">← <a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        {{- end }}
    {{ with .NextInSection }}
          　<span class=".pagi-next"><a href="{{ .RelPermalink }}">{{ .Title }}</a> →</span>
    {{- end }}
    </div></div>
  <div class="u-wrapper">
    <div class="u-padding">
{{ partial "comments.html" . }}
</div></div>
  </article>
{{ end }}
