{{ define "main" }}
  <article>
    {{ partial "heading.html" . }}
    <div class="u-wrapper">
      <div class="u-padding">
    {{ partial "tags.html" . }}
    </div></div>
    {{ if or .Params.vertical (and .Site.Params.vertical (ne .Params.vertical false)) }}
      <div class="vertical-info">← 使用觸控板左右滑動 →<br>
      電腦上直排空間利用率高80%</div>
<div class="vertical-wrap">
    <div class="vertical">
    {{ .Content }}
    </div></div>
      {{ else }}
      <div class="u-wrapper">
        <div class="u-padding">
          <hr>
          {{ .Content }}
          </div></div>
    {{ end }}
    <div class="u-wrapper">
      <div class="u-padding">
  {{ partial "comments.html" . }}
  </div></div>
  </article>
{{ end }}
