{{ define "main" }}
      <header class="heading-wrap">
        {{ partialCached "banner.html" . }}
        <div class="Heading">
             <span class="heading-title a1 finder"><a href="/">赫赫文王</a>»<a href="/#data">數據庫</a>»<a  class="DocSearch-lvl0"  href="/xuekan">春秋學刊</a>»
               {{- with .Params.subject -}}
                   {{- range . -}}
                   {{- $name := . -}}
                   {{- with $.Site.GetPage "term" (printf "subject/%s" $name) | default ($.Site.GetPage "term" (printf "subject/%s" ($name | urlize))) -}}
                 <a href="/subject/{{ $name }}">{{- $name -}}</a>»
                   {{- end -}}
                   {{- end -}}
               {{- end -}}
               </span>
               <h1 class="DocSearch-lvl1 heading-title a1 article">{{- .Title | safeHTML | markdownify -}}</h1>
               {{ partial "article-front.html" . }}
        </div>
      </header>
      <main>
          <article class="DocSearch-content vertical-false">
      {{ .Content }}
         </article>
  {{ partial "comments.html" . }}
    </main>
  {{ end }}
