{{ define "main" }}
      <header class="heading-wrap">
        {{ partialCached "banner.html" . }}
        <div class="Heading">
             <span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#data">數據庫</a>»<a  class="DocSearch-lvl0"  href="/xuekan">春秋學刊</a>»
               {{- with .Params.subject -}}
                   {{- range . -}}
                   {{- $name := . -}}
                   {{- with $.Site.GetPage "taxonomy" (printf "subject/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "subject/%s" ($name | urlize))) -}}
                 <a href="/subject/{{ $name }}">{{- $name -}}</a>»
                   {{- end -}}
                   {{- end -}}
               {{- end -}}
               </span>
               <h1 class="DocSearch-lvl1 Heading-title article">{{- .Title | safeHTML | markdownify -}}</h1>
             <section class="tag" style="max-width:20em">
             <div class="des1">
             <time datetime="{{ .Date.Format "2006-01-02" }}">
           {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>　
           <span>{{- .WordCount }} 字</span>
             </div>
             {{- with .Params.auth -}}
                      <div class="des1">
                 　<span class="des2">作者</span>
                 {{ range . }}
                 {{- $name := . -}}
                 {{- with $.Site.GetPage "taxonomy" (printf "auth/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "auth/%s" ($name | urlize))) -}}
                 <span class="des1-cate"><a href="/auth/{{ $name }}">@{{- $name -}}</a></span>
                 {{ end -}}
                 {{ end }}
             {{- end }}
             {{- with .Params.from -}}
                 　<span class="des2">來源</span>
                 {{ range . }}
                 {{- $name := . -}}
                 {{- with $.Site.GetPage "taxonomy" (printf "from/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "from/%s" ($name | urlize))) -}}
                 <span class="des1-cate"><a href="/from/{{ $name }}">«{{- $name -}}</a></span>
                 {{ end -}}
                 {{ end }}
             {{- end }}
           </div>
         </section>
        </div>
      </header>
      <main>
          <article class="DocSearch-content vertical-false">
      {{ .Content }}
         </article>
         <section class="u-wrapper">
           <div class="u-padding">
  {{ partial "comments.html" . }}
  </div></section>
    </main>
    {{ partial "footer-xuekan.html" . }}
  {{ end }}
