{{ define "main" }}
<header class="heading-wrap">
      {{ partialCached "banner.html" . }}
      <div class="Heading">
<span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#data">數據庫</a>»<a class="DocSearch-lvl0" href="/zanfu">赫赫讚府</a>»</span><h1 class="DocSearch-lvl1 Heading-title article">{{- .Title | safeHTML | markdownify -}}</h1>
</div>
{{ if .Description }}
<div class="des">{{ .Params.Description | safeHTML  | markdownify }}</div>
{{ end }}
    <section class="des1">
    <span datetime="{{ .Date.Format "2006-01-02" }}">
    　柯棋瀚整理　<time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} >
    {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "06-01-02") -}}{{ end }}</span>　<span>{{- .WordCount -}} 字</span>
來源于網絡，版權歸原作者所有
{{ partial "sourcecode.html" . }}
    </section>

    <nav class="pagi-wrap">
    <div class="pagi">
      {{ with .PrevInSection }}
        <span class=".pagi-prev">← <a href="{{ .RelPermalink }}">{{- .Title | safeHTML | markdownify -}}</a></span>
        {{- end }}
    {{ with .NextInSection }}
          　<span class=".pagi-next"><a href="{{ .RelPermalink }}">{{- .Title | safeHTML | markdownify -}}</a> →</span>
    {{- end }}
    </div></nav>

    </header>
    <main>
        {{ if .TableOfContents }}
          <aside class="toc sticky">
          <li class="toc-item">{{ .TableOfContents }}</li>
</aside>
        {{ end }}

           <article class="DocSearch-content vertical-false">
              {{ .Content }}
            </article>
    <section class="u-wrapper">
      <div class="u-padding">
{{ partial "comments.html" . }}
</div></section>
</main>
{{ partial "footer-xuekan.html" . }}
{{ end }}
