{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
    {{ $termName := .Data.Singular }}
    {{ $type := .Type }}
        <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/xuekan">春秋學刊</a>»分類»
          {{- with .Params.subject -}}
              {{- range . -}}
              {{- $name := . -}}
              {{- with $.Site.GetPage "taxonomy" (printf "subject/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "subject/%s" ($name | urlize))) -}}
            <a href="/subject/{{ $name }}">{{- $name -}}</a>»
              {{- end -}}
              {{- end -}}
          {{- end -}}
        </span>
        <h1 class="Heading-title taxo" style="font-size:3.2em">{{- .Title -}}</h1>
  </header>
  {{- $length := len .Data.Pages }}
  {{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}
<section class="des1">
凡 {{ $length }} 篇　{{- $count }} 字　篇均 {{ div $count $length }} 字　{{- with .Data.Pages.GroupByDate "2006" -}}橫跨 {{ len . }} 年{{- end -}}
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">{{- .Title -}}</span><span class="rss2">RSS</span></a>
</section>
</div>
  <main>
{{ $count0 := len .Pages }}
{{ $count4 := add $count0 1 }}
{{ range .Pages.GroupByDate "2006" }}
  {{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount  }}{{ end }}
   {{ $leng := len .Pages }}
   <section class="year-wrap">
          <div class="year"><h2>{{ .Key }}<span class="des3">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</span></h2></div>
           <div class="archive-wrapper">
           {{- range .Pages -}}
                 <div class="archive-wrap">
           <span class="archive-left">
           {{ $count4 = sub $count4 1  }}{{ $count4 }}    </span>
                   <span class="archive-right">
                     <div><span class="archive-info archive-info-author">
                       {{- with .Params.auth -}}
                                   {{- range . -}}
                                   {{- $name := . -}}
                                   {{- with $.Site.GetPage "taxonomy" (printf "auth/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "auth/%s" ($name | urlize))) -}}
                                 <a href="/auth/{{ $name }}">@{{- $name -}}</a>
                                   {{- end -}}
                                   {{- end -}}
                               {{- end -}}
                     </span>
                     <span class="archive-title"><a href="{{ .RelPermalink }}" target="_blank">{{- .Title | safeHTML -}}</a></span>
                   </div>
                   <div class="archive-info"><time>{{ .Date.Format "2006-01-02" }}</time>　
                     {{- with .Params.subject -}}
                         {{- range . -}}
                         {{- $name := . -}}
                         {{- with $.Site.GetPage "taxonomy" (printf "subject/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "subject/%s" ($name | urlize))) -}}
                         <span class="archive-info"><a href="/subject/{{ $name }}"  target="_blank">#{{- $name -}}</a></span>
                         {{ end -}}
                         {{ end }}
                     {{- end }}
                     {{- with .Params.from -}}
                         {{- range . -}}
                         {{- $name := . -}}
                         {{- with $.Site.GetPage "taxonomy" (printf "from/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "from/%s" ($name | urlize))) -}}
                         <span class="archive-info"><a href="/from/{{ $name }}"  target="_blank">«{{- $name -}}</a></span>
                         {{ end -}}
                         {{ end }}
                     {{- end }}
           </div>
             </span>
       </div>
       {{ end }}
     </div>
       </section>
    {{ end }}
</main>
    {{ partial "footer-xuekan.html" . }}
{{ end }}
