{{ define "main" }}
<div class="heading-wrap">
  {{ partial "heading.html" . }}
<section class="des1">
  {{- $length := len .Data.Pages }}
  {{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}
凡 {{ $length }} 篇　{{- $count }} 字　篇均 {{ div $count $length }} 字
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">{{- .Title | safeHTML | markdownify -}}</span><span class="rss2">RSS</span></a>
</section></div>
  <main>
{{ partial "archive-list.html" . }}
</main>
    
{{ end }}
