{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#data">數據庫</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">文庫</h1>
  {{- $length := sub (len .Data.Pages) 1 }}
  {{ $leng := 0 }}
{{- with $des := index (.Site.Data.taxo ) "文庫" -}}<div class="des">{{- $des.des | safeHTML | markdownify -}}</div>{{ end }}
  </header>
<section class="des1">
凡 {{ $length  }} 篇　{{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}{{ $count }} 字　篇均 {{ div $count $length }} 字
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">文庫</span><span class="rss2">RSS</span></a>
</section>
</div>
<main>
  <section class="archive-wrapper" style="margin:2em auto 8em">
  {{- range sort .Pages "File.Path" -}}
        <div class="archive-wrap" style="margin:.7em 0">
          <div class="archive-right">
    <span class="archive-title" style="margin-left:0">
      <time class="archive-info">{{- .Date.Format "2006-01-02" -}}</time>　
      <a href="{{ .RelPermalink }}" target="_blank">{{- .Title | safeHTML | markdownify -}}</a></span>
    </div>
</div>{{ end }}
</section> </main>
 {{ partial "footer-xuekan.html" . }}
{{ end }}
