{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/#wiki">筆記</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">考試</h1>
{{- with $des := index (.Site.Data.taxo ) "考試" -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
  </header>
<section class="des1">
凡 {{ len .Data.Pages }} 篇　{{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}{{ $count }} 字　篇均 {{ div $count (len .Data.Pages) }} 字
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">考試</span><span class="rss2">RSS</span></a>
</section>
</div>
<main>
  <section class="archive-wrapper" style="margin:2em auto 8em">
  {{- range .Pages.ByDate -}}
        <div class="archive-wrap" style="margin:.7em 0">
          <div class="archive-right">
    <span class="archive-title" style="margin-left:0">
      <time class="archive-info">{{- .Date.Format "2006-01-02" -}}</time>　
      <span class="archive-info archive-info-author">
      @柯棋瀚整理　
              </span>
      <a href="{{ .RelPermalink }}" target="_blank">{{- .Title  | safeHTML -}}</a></span>
    </div>
</div>{{ end }}
</section> </main>
 {{ partial "footer-xuekan.html" . }}
{{ end }}
