{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title finder"><a href="/">赫赫文王</a>»<a href="/#wiki">知識</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">考試課堂筆記</h1>
{{- with $des := index (.Site.Data.taxo ) "考試" -}}<div class="des">{{- $des.des | safeHTML | markdownify -}}</div>{{ end }}
  </header>
<section class="des1" style="margin-bottom: -5em">凡 {{ len .Data.Pages }} 篇　{{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}{{ $count }} 字　篇均 {{ div $count (len .Data.Pages) }} 字
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">考試課堂筆記</span><span class="rss2">RSS</span></a>
</section>
</div>
<main>
{{ $count4 := 0 }}
  {{ range .Site.Taxonomies.exam.Alphabetical }}
  {{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount  }}{{ end }}
   {{ $leng := len .Pages }}
  <h2 id="{{- .Page.Title | safeHTML -}}">{{ .Page.Title | safeHTML }}<span class="des3" style="font-family:var(--codesans);letter-spacing:0">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</span></h2>
  <div class="discover-wrap">
    <div class="discover">
  {{ range sort .Pages "File.Path" }} 
  <div>
    <div class="archive-left">{{ $count4 = add $count4 1  }}{{ $count4 }}</div>
    <span>
      <span class="archive-info"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
      <div class="discover-item"><a href="{{ .Permalink }}" class="archive-post-link"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
      {{if .Params.description }}<span class="des2 home">{{ .Params.description | safeHTML  | markdownify }}</span>{{ end }}
    </span>
</div>
  {{ end }}
  </div>
  </div>
  {{ end }}
</main>
 
{{ end }}
