{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">作品</h1>
  </header>
  {{- $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "gallery") }}
<div class="des">見笑。</div>
</div>
  <main>
        <section class="archive-wrapper" style="margin:2em auto 8em">
    {{ range $paginator.Pages }}
              <div class="archive-wrap">
                <div class="archive-right">
          <span class="archive-title" style="margin-left:0">
            <time class="archive-info">{{ .Date.Format "2006-01-02" }}</time>　
            <a href="{{ .RelPermalink }}" target="_blank">{{- .Title  | safeHTML -}}</a></span>
          </div>
    </div>{{ end }}
   </section>
 </main>
 {{ partial "footer-xuekan.html" . }}
{{ end }}
