{{ define "main" }}
<body>
  <main>
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title taxo" style="font-size:1em;font-weight:bold;letter-spacing:.15em;text-shadow:1px 1px 0 #fe7fb8"><a href="/">赫赫文王</a>»</span><h1  class="Heading-title taxo" style="font-size:3em">作品</h1>
  </header>
  {{- $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "gallery") }}
<div class="des">見笑。</div>
</div>
        <div class="archive-wrapper" style="margin:2em auto 8em">
    {{ range $paginator.Pages }}
              <div class="archive-wrap">
                <div class="archive-right">
          <span class="archive-title" style="margin-left:0">
            <span class="archive-info">{{ .Date.Format "2006-01-02" }}　</span>
            <a href="{{ .RelPermalink }}" target="_blank">{{- .Title  | safeHTML -}}</a></span>
          </div>
    </div>{{ end }}
   </div>
 </main>
 </body>
 {{ partial "footer-xuekan.html" . }}
{{ end }}
