{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title finder"><a href="/">赫赫文王</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">网誌</h1>
  </header>
  {{- $length := len .Data.Pages }}
  {{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}
<section class="des1">
凡 {{ $length }} 篇　{{- $count }} 字　篇均 {{ div $count $length }} 字　{{- with .Data.Pages.GroupByDate "2006" -}}橫跨 {{ len . }} 年{{- end -}}
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">网誌</span><span class="rss2">RSS</span></a>
</section>
</div>
  <main>
{{- $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") (index 50) }}
  {{ $count1 := add $length 1 }}
  {{ $count0 := $paginator.PageNumber }}
{{ $count2 := sub $count0 1 }}
{{ $count3 := mul 50 $count2}}
{{ $count4 := sub $count1 $count3 }}
{{ partial "pagination.html" . }}
{{ range $paginator.Pages.GroupByPublishDate "2006" }}
                {{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount  }}{{ end }}
                 {{ $leng := len .Pages }}
<section class="year-wrap">
                  <div class="year"><h2>{{ .Key }}<span class="des3">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</span></h2></div>
        <div class="archive-wrapper">
        {{- range .Pages -}}
              <div class="archive-wrap">
        <span class="archive-left">
        {{ $count4 = sub $count4 1  }}{{ $count4 }}    </span>
                <span class="archive-right">
              <div>
                  {{- with .Params.author -}}
                      {{- range . -}}
                      {{- $name := . -}}
                      {{- with $.Site.GetPage "taxonomy" (printf "author/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "author/%s" ($name | urlize))) -}}
                    <a class="archive-info archive-info-author" href="/author/{{ $name }}" target="_blank">@{{- $name -}}</a>
                      {{- end -}}
                      {{- end -}}
                  {{- end -}}
                  <span class="archive-title"><a href="{{ .RelPermalink }}" target="_blank">{{- .Title | safeHTML | markdownify -}}</a></span>
                </div>
                <div class="archive-info"><time>{{ .Date.Format "06-01-02" }}</time>
                  {{ if ne .Date .Lastmod }}> {{ .Lastmod.Format "06-01-02" }}{{ end }}&nbsp
            {{ with .Params.categories -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                  <span class="archive-info"> <a href="/categories/{{ $name }}"  target="_blank">[{{- $name -}}]</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}
            {{ with .Params.series -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "series/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "series/%s" ($name | urlize))) -}}
                <span class="archive-info"><a href="/series/{{ $name }}"  target="_blank">{{- $name -}}｜</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}
            {{ with .Params.tags -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
                <span class="archive-info"><a href="/tags/{{ $name }}"  target="_blank">#{{- $name -}}</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}
            {{ with .Params.notes -}}
                {{ range . }}
                {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "notes/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "notes/%s" ($name | urlize))) -}}
                <span class="archive-info"><a href="/notes/{{ $name }}"  target="_blank">({{- $name -}})</a></span>
                {{ end -}}
                {{ end }}
            {{- end }}
          </div>
          </span>
    </div>
    {{ end }}</div>
  </section>    {{ end }}
    <br>
{{ partial "pagination.html" . }}
</main>
    {{ partial "footer.html" . }}
{{ end }}
