{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="heading-title a1 finder"><a href="/">赫赫文王</a>»<a href="/#wiki">知識</a>»</span><h1 class="heading-title taxo" style="font-size:3.2em">赫赫蠹書</h1>
{{- with $des := index (.Site.Data.taxo ) "赫赫蠹書" -}}<div class="des-taxo">{{- $des.des | safeHTML | markdownify -}}</div>{{ end }}
  </header>
  {{- $length := len .Data.Pages }}
  {{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}
<section class="des-base a1">
凡 {{ $length }} 篇　{{- $count }} 字　篇均 {{ div $count $length }} 字　{{- with .Data.Pages.GroupByDate "2006" -}}橫跨 {{ len . }} 年{{- end -}}
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">赫赫蠹書</span><span class="rss2">RSS</span></a>
</section>
</div>
  <main>
<div class="archive-wrapper a1" style="margin:-1em auto -3em">
  {{ range .Site.Taxonomies.book.Alphabetical  }}
  <a href="#{{- .Page.Title -}}" style="box-shadow:none;margin-right:1em;word-break:keep-all;font-family:var(--sans)">{{ .Page.Title | safeHTML }}</a>
  {{ end }}
  </div>
  <div class="archive-wrapper" style="margin-bottom: -2.5em">
      {{ with .Site.Taxonomies.book.踐行社會主義核心價値觀 }}
      {{ $count7 := 0 }}{{ range .Pages }}{{ $count7 = add $count7 .WordCount  }}{{ end }}
       {{ $leng1 := len .Pages }}
      <h2 id="踐行社會主義核心價値觀"style="background:var(--red);color:var(--bg);padding:.3em 0 .1em">踐行社會主義核心價値觀</h2>
      <div class="des-base" style="color:var(--red);font-weight:bold;font-family:var(--serif) ;">【會員專區】富強、民主、文明、和諧；自由、平等、公正、法治；愛國、敬業、誠信、友善</div>
      <div class="des-base">　凡 {{ $leng1 }} 篇　{{- $count7 }} 字　篇均 {{ div $count7 $leng1 }} 字</div>
{{ end }}
  </div>
  
<div class="discover-wrap" style="margin:4em auto 0">
  <div class="discover a1">
    {{ range .Site.Taxonomies.step.Alphabetical  }}
    {{ range sort .Pages "File.Path" }}
    <div class="discover-grid">
      {{ if .Params.img }}
      <div class="archive-card-container"><div class="post-card" style="background-image: url({{ .Params.img }})"></div></div>
      {{ end }}
      <div class="discover-grid-sub">
      <span class="des-base des-des a1"><time>{{- .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" -}}{{ end }}
        <span class="des-base des-des des-tag des-step">{{ .Params.step }}</span>  
      </span>
        <div class="discover-item"><a href="{{ .Permalink }}"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
        <div class="des-base des-des">{{ .Params.description | safeHTML  | markdownify }}</div>
      </div>
      </div>
  {{ end }}
  {{ end }}
      </div>
     </div>

{{ range .Site.Taxonomies.book.Alphabetical  }}
{{ $count6 := 0 }}{{ range .Pages }}{{ $count6 = add $count6 .WordCount  }}{{ end }}
 {{ $leng := len .Pages }}
{{ if ne .Page.Title  "踐行社會主義核心價値觀" }}
<h2 style="margin-bottom:0" id="{{- .Page.Title | safeHTML -}}">{{ .Page.Title | safeHTML }}</h2>
  <div class="des-base">　凡 {{ $leng }} 篇　{{- $count6 }} 字　篇均 {{ div $count6 $leng }} 字</div>
<div class="discover-wrap">
  <div class="discover a1">  

{{ range sort .Pages "File.Path" }}

{{ if .Params.img }}
<div class="discover-grid">
  <div class="archive-card-container"><div class="post-card" style="background-image: url({{ .Params.img }})">
  </div></div>
  <div class="discover-grid-sub">
    <span class="des-base des-des a1"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
    <div class="discover-item"><a href="{{ .Permalink }}"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
    <span class="des-base">{{ .Params.description | safeHTML  | markdownify }}</span>
  </div>
  </div>
{{ else }}

  <div>
    <span>
      <span class="des-base des-des a1"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
      <div class="discover-item"><a href="{{ .Permalink }}" class="archive-post-link"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>
      {{if .Params.description }}<span class="des-base">{{ .Params.description | safeHTML  | markdownify }}</span>{{ end }}
    </span>
</div>
{{ end }}
{{ end }}

</div>
</div>
{{ end }}
{{ end }}
</main>
{{ end }}
