{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="Heading-title taxo" style="font-size:1.2em;font-weight:bold;letter-spacing:.15em"><a href="/">赫赫文王</a>»<a href="/#wiki">筆記</a>»</span><h1 class="Heading-title taxo" style="font-size:3.2em">讀書</h1>
{{- with $des := index (.Site.Data.taxo ) "讀書" -}}<div class="des">{{ $des.des | safeHTML }}</div>{{ end }}
  </header>
  {{- $length := len .Data.Pages }}
  {{ $count := 0 }}{{ range .Pages }}{{ $count = add $count .WordCount  }}{{ end }}
<section class="des1">
凡 {{ $length }} 篇　{{- $count }} 字　篇均 {{ div $count $length }} 字　{{- with .Data.Pages.GroupByDate "2006" -}}橫跨 {{ len . }} 年{{- end -}}
　<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">讀書</span><span class="rss2">RSS</span></a>
</section>
</div>
  <main>
    <div class="archive-wrapper"style="border:.3em solid var(--black);border-radius:2.5em">
      <h2 style="margin-top:.5em">最近發布</h2>
{{ range first 10 .Pages }}
  <div class="archive-wrap"style="margin:.7em 0;text-align:left">
    <span class="archive-info">{{ .Date.Format "2006-01-02" }}</span>
    <span class="archive-title"><a href="{{ .Permalink }}" target="_blank">{{ .Title | safeHTML }}</a></span></div>
{{ end }}
</div>
    <div class="archive-wrapper">
{{ range .Site.Taxonomies.book.Alphabetical  }}
<h2 id="{{- .Page.Title | safeHTML -}}"style="text-align:left">{{ .Page.Title | safeHTML }}</h2>
  {{ range sort .Pages "File.Path" }}
<div class="archive-wrap"style="margin:.7em 0;text-align:left">
  <span class="archive-info">{{ .Date.Format "2006-01-02" }}</span>
  <span class="archive-title"><a href="{{ .Permalink }}"   target="_blank">{{ .Title | safeHTML  }}</a></span>
</div>
{{ end }}
{{ end }}
</div>
</main>
    {{ partial "footer-xuekan.html" . }}
{{ end }}
