{{ define "main" }}
<div class="heading-wrap">
  {{ partialCached "banner.html" . }}
  <header class="Heading">
      <span class="heading-title a1 finder"><a href="/">赫赫文王</a>»<a href="/#magazine">刊物</a>»</span><h1 class="heading-title a1 taxo" style="font-size:3.2em">春秋學刊</h1>
  </header>
  {{- $xuekan := where .Site.Taxonomies.categories.目錄 "Type" "xuekan" }}
  {{- $length := len $xuekan  }}
  {{ $leng2 := sub (len .Data.Pages) (len $xuekan) }}
<section class="des-base a1">
凡 {{ $length }} 期　{{ $leng2 }} 篇　{{- with .Data.Pages.GroupByDate "2006" -}}橫跨 {{ len . }} 年{{- end -}}　
<a class="rss3" href="{{- .Permalink -}}index.xml" target="_blank"><span class="rss1">春秋學刊</span><span class="rss2">RSS</span></a>
　</section>
</div>
<main>
   <div class="discover-wrap">
     <div class="discover a1">
      {{ $leng := add $length 1 }}
       {{ range $xuekan  }}
       <div class="discover-grid">
        <div class="archive-card-container"><div class="post-card" style="background-image: url({{ .Params.img }})">
          <div class="archive-left archive-left-card">{{ $leng = sub $leng 1  }}{{ $leng }}</div>
        </div></div>
        <div class="discover-grid-sub">
          <span class="des-base des-des a1"><time>{{ .Date.Format "2006-01-02" }}</time>{{ if ne .Date .Lastmod }} > {{ .Lastmod.Format "06-01-02" }}{{ end }}</span>　
          <div class="discover-item"><a href="{{ .Permalink }}"  target="_blank">{{- .Title | safeHTML | markdownify -}}</a></div>    
        </div>
        </div>
       {{ end }} 
          </div>
    </div>
       <section class="archive-wrapper" style="margin:-5em auto 0">
         {{ partial "invitation.html" . | markdownify }}
         </section>
       <section class="archive-wrapper" style="font-size:.9em;margin:4em auto">
<h1 style="margin-bottom:-.7em">分類<span style="color:#8c8c8c;font-size:.7em;letter-spacing:0"> {{ len  (where .Site.Taxonomies.subject "Type" "xuekan") }}</span></h1>
         <div class="cate a1">
           {{ $subject := where .Site.Taxonomies.subject "Type" "xuekan" }}
           {{ range $subject.ByCount }}
                 <li class="cate-wrap"><a href="{{ .Page.Permalink }}">{{ .Page.Title | safeHTML }} {{ .Count }}</a></li>
           {{ end }}
           </div>
           </section>
                 <section class="archive-wrapper" style="font-size:.9em;margin:4em auto 0">
              <h1 style="margin-bottom:-.7em">作者<span style="color:#8c8c8c;font-size:.7em;letter-spacing:0"> {{ len  (where .Site.Taxonomies.auth "Type" "xuekan") }}</span></h1>
           <div class="cate a1">
           {{ range (where .Site.Taxonomies.auth "Type" "xuekan") }}
                   <li class="cate-wrap"><a href="{{ .Page.Permalink }}">{{ .Page.Title | safeHTML }} {{ .Count }}</a></li>
             {{ end }}
             </div>
         </section>
 <section class="archive-wrapper">
     <h2>編務</h2>
   {{ range (where .Site.Taxonomies.categories.編務 "Type" "xuekan") }}
               <div class="archive-wrap a1">
                 <div class="archive-right">
           <span>
             <time class="des-base des-des">{{ .Page.Date.Format "2006-01-02" }}</time>　
             <a style="color:var(--black)" href="{{ .Page.Permalink }}" target="_blank">{{ .Page.Title | safeHTML }}</a></span>
           </div>
     </div>{{ end }}
     <br>
     <br>
    </section>
       </main>
{{ end }}
