body {
  font-family: "Adobe Garamond Pro",Garamond,"Adobe Caslon Pro",Caslon,"Minion Pro",Minion,"Adobe Gurmukhi","Palatino Linotype","Noto Serif CJK KR","Source Han Serif K","Noto Serif CJK SC","Hiragino Mincho ProN","Hiragino Mincho","Yu Mincho","Hana Mincho","Ms Mincho",serif;
color:#2b2b2b;
font-size: 1em;
  line-height: 1.9em;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
      background-color:white;
    	background-image: linear-gradient(#ddb8b8 8px, transparent 10px),
    	linear-gradient(#b7cce3 8px, transparent 10px),
    		linear-gradient(90deg, #b7cce3 8px, transparent 10px),
    linear-gradient(90deg, #ddb8b8 8px, transparent 10px);
    	background-size: 240px 240px, 240px 240px, 240px 240px, 240px 240px;
    	background-position:70px 70px, 190px 190px,190px 190px,70px 70px ;
}
hr{
  margin:2em auto;
  max-width:6.7em;
  height: .3em;
  border-radius: 1rem;
  border: none;
  background: #2b2b2b;
}
.vertical hr{
  margin:auto 4em;
  height:100%;
  width: .35em;
    background: #2b2b2b;
  border-radius: 0;
}
a{
  color:#2b2b2b;
  text-decoration:none;
border-bottom: .15em solid #f1bc00;
-webkit-transition: .3s;
transition: .3s;
}
a:hover{
  border:none ;
  color:#b89001;
}
strong{
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
em{
  font-family:"Adobe Garamond Pro",Garamond,"Adobe Caslon Pro",Caslon,"Minion Pro",Minion,"Adobe Gurmukhi","Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
  font-style: normal;
}
v{
background-image: url(/v1.png);
background-repeat: repeat-x;
background-size: 10px;
background-position: left bottom;
padding-bottom: 3px;
margin: 0 1.5px ;
}
n{
  font-family: "Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
  font-size: 16px;
  padding:  0 5px;
  letter-spacing: 0;
}
u{
border-bottom: 1px solid #2b2b2b;
padding-bottom: 1px;
text-decoration: none;
margin: 0 1.5px;
}
listen{
  border-radius:.5em;
  border: 1px #2b2b2b solid;
  padding: .1em .2em .15em .4em;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
  letter-spacing: .2em;
  font-weight: 700;
  font-size: 1em;
    margin:  0 7px;
  -webkit-box-shadow: 0 2px 20px -5px  #8c8c8c ;
  box-shadow:  0 2px 20px -5px  #8c8c8c ;
}
listen a{
  border: none;
}
listen:hover{
  -webkit-box-shadow: none ;
  box-shadow:  none ;
  border: 1px #b89001 solid;
  -webkit-transition: .3s;
  transition: .3s;
  color: #b89001;
}
.vertical listen{
    padding: .5em .2em .3em;
        margin: .5em 0 ;
}
.vertical  listen a{
  border: none;
}
date{
  margin: 0  .5em ;
  padding: .3em .7em;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace, "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,PingFangSC,Sans-serif;
  font-weight: 400;
    font-size: .8em;
    color: #8c8c8c;
    border-radius: 1em;
    letter-spacing: 0;
    border: 1px solid #8c8c8c;
}
.vertical date{
  margin: .5em 0;
  padding: .7em .3em;
}
.vertical-wrap{
  text-align: center;
}
.vertical{
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
    writing-mode: vertical-rl;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    line-height: 1.8em;
      margin: 6em auto;
      padding: 1em 0;
      width: 92%;
    height:38em;
          background: #fffae8;
          border: .5em solid #2b2b2b;
        border-radius: 2.5rem;
        box-shadow:  0 2px 30px 2px  #2b2b2b ;
}
.vertical-false{
  margin:7em auto;
  max-width: 38em;
        padding: 1em 2em;
        background: #fffae8;
        border: .5em solid #2b2b2b;
      border-radius: 3.5rem;
      box-shadow:  0 2px 30px 2px  #2b2b2b ;
}
.vertical blockquote{
  line-height: 1.8em;
}
.vertical a{
  color:#2b2b2b;
  text-decoration:none;
border-left: .15em solid #f1bc00 ;
border-bottom: none;
-webkit-transition: .3s;
transition: .3s;
}
.vertical a:hover{
  border:none ;
  color:#b89001;
}
.vertical v{
  background-image: url(/v.png);
  background-repeat: repeat-y;
  background-size: 2.6px;
  background-position: left bottom;
  padding-left: 2.5px;
  margin: 1.5px 0 ;
  }
.vertical n{
    font-family: "Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
    font-size: 16px;
    padding: 5px 0;
    letter-spacing: 0;
  }
.vertical u{
  border-left: 1px solid #2b2b2b;
  border-bottom: none;
  padding-left: 0px;
  text-decoration: none;
  margin: 1.5px 0 ;
  }
  .vertical h1{
      text-align: left;
      margin: 2em 2.5em 0 0em;
  }
  .vertical-info{
    text-align: center;
    font-size: .8em;
    color:#8c8c8c;
  font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
margin:3.5em auto -3em auto;
line-height: 1.6;
  }
  sup{
    vertical-align:baseline;
    font-size: normal;
  }
h1{
  text-align: center;
letter-spacing: .25em;
font-size: 1.8em;
line-height: 1.5;
}
h2{
  font-size: 1.4em;
  line-height: 1.6;
}
h3{
  font-size: 1.2em;
  line-height: 1.6;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
h4{
  font-size: 1em;
}
h5{
  font-size: 1em;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
h6{
  font-size: 1em;
  font-weight: 400;
  color: #8c8c8c
}

.des{
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  line-height: 1.7;
  color:#8c8c8c;
  margin: 1.5em  1em auto 1em;
}
.des a{
  border: none;
}
.des1{
  margin-top: 2em;
  font-size: .7em;
  color:#8c8c8c;
  text-align:center;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
.des1 a{
     font-weight: 700;
     font-size: 1.4em;
     margin-left:.4em;
     letter-spacing: .1em;
}
.des1-cate a{
  color:#9c0001;
  font-size: 1.4em;
   border: none;
   background: #ffb3b3;
   padding: .2em .5em .3em;
margin-left:.4em;
   font-weight: 700;
   letter-spacing: .1em;
 }
.des1-cate a:hover{
  background: #fffae8;
}
.des1-tag a{
  color:#00508e;
  letter-spacing: .1em;
  font-size: 1.4em;
   border: none;
   border-radius: 1em;
     background: #b3e3ff;
     padding: .2em .6em .3em;
     margin-left:.4em;
     font-weight: 700;
 }
.des1-tag a:hover{
  background: #fffae8;
}
blockquote {
margin:  0 0 0 2em;
position: relative;
  line-height: 1.9em;
font-weight: 200;
font-family:  helvetica,"方正仿宋","方正仿宋-Z02",FZFangSong-Z02,STFangsong,"仿宋",FangSong;
letter-spacing: 0;
}
.vertical blockquote {
margin: 2em 0 0 0 ;}
main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  border: 1px #2b2b2b solid;
  -webkit-box-shadow: 0 2px 20px -5px  #2b2b2b ;
  box-shadow:  0 2px 20px -5px  #2b2b2b ;
  margin: auto;
  text-align: center;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 20px -5px  #2b2b2b ;
  box-shadow:  0 2px 20px -5px  #2b2b2b ;
  background:#2b2b2b;
}
code {
  font-family:"Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
  font-size: .8em;
  color: #fffae8;
      background:#2b2b2b;
        border-radius: .2rem;
}
.heading-wrap{
  background: #fffae8;
  padding: 2em  1em 3em;
  margin: -1em 0 3em;
  box-shadow:  0px 0px 70px 5px  #2b2b2b;
  border-bottom:  .4em solid #2b2b2b;
}
.Heading {
  text-align:center;
  align-items: baseline;
  text-shadow: 0 0 .2em #9bbcfe;
}
.Heading a{
  text-decoration: none;
  border: none;
}
.Heading-title {
  margin: 1.5rem 0.5rem 0 0;
}

.Heading-link {
  color: inherit;
}
.Tag{
  text-align: center;
}
.Tags {
  max-width: 32em;
  max-height:35em;
  color:#616161;
  display:inline-block;
  overflow: scroll;
  list-style: none;
  margin: 7em auto 0;
  padding: .8em 1em .5em;
    text-align:left;
font-size:.9em;
line-height: 1.6;
background: #fffae8;
  border: .5em solid #2b2b2b;
border-radius: 2.5rem;
box-shadow:  0 2px 30px 2px  #2b2b2b ;
}
.Tags a{
  text-decoration: none;
  border: none;
  color:black;
}
.Tags a:hover{
 color:#b89001;
}
.Tags-item {
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0.2rem;
  padding: 0 0.3rem;
}
.Tags-item strong{
  color:#8c8c8c;
}
.cate{
  margin-top: 2em;
font-size: 1em;
text-align:center;
}
.cate a{
  border:none;
  font-weight: 400;
}
.cate-wrap{
  margin: -.3em auto;
  font-size: 1em;
}
.footer-wrapper{
        font-family:  "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
  box-shadow:  0px 0px 70px 5px  #2b2b2b;
border: 1em solid #2b2b2b;
  border-radius: 80px;
margin: 8em auto 1.5em;
  max-width: 85%;
  padding:.5em 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background-image: url('/seal.png'),-webkit-linear-gradient(left, #c41011 , #4300db);
     background-image:url('/seal.png'),-o-linear-gradient(right,#c41011, #4300db);
     background-image:url('/seal.png'),-moz-linear-gradient(right,#c41011, #4300db);
     background-image: url('/seal.png'),linear-gradient(to right, #c41011,  #4300db);
            background-size:13em,contain;
           background-repeat: no-repeat;
       background-position: center;
}
.col1{
  font-size:.9em;
  color:#d5d5d5;
  margin:1em 0;
  line-height: 1.4;
  }
.col1-title{
  font-weight: 700;
  font-size: 1.8em;
  color: #fffae8;
}
.col1-title:hover{
  color: #2b2b2b;
  -webkit-transition: .3s;
  transition: .3s;
}
.col2{
    font-size: 1.5em;
}
.col {
  text-align: left;
    margin: 0 auto 1em;
  display:flex;
  color: #fffae8;
}
.col ul{
  margin-top:0em;
}
.col h2{
color:#f88788;
margin-bottom: .1em;
}
 .col li{
      list-style:none;
      line-height: 1.55;
}
.col a{
  font-size: .9em;
  border: none;
    color: #fffae8;
}
.col a:hover{
  color:#2b2b2b
}
.Footer {
  text-align: center;
  margin: 1.3em auto 2em;
  font-size: .85em;
  font-family:"Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
  color:#d5d5d5;
  line-height: 1.6;
max-width: 26em;
}
.Footer a{
  border: none;
  color: #fffae8;
}
.Footer li{
  text-align: left;
  word-break: break-all;
}
.Footer a:hover{
  color:#2b2b2b;
}
.u-wrapper {
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}
.u-padding {
  padding: 0 1rem;
}
.u-clickable1 {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-family: "Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
}
.u-clickable1:hover{
  color:#2b2b2b;
}
.u-clickable2{
font-weight: 700;
font-family: "Minion Pro",Minion,"Adobe Gurmukhi","Palatino Linotype","Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
}
.u-clickable {
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
}
a.Banner-link.u-clickable:hover{
  font-weight: 700;
}
.archive-wrapper{
  padding: .5em 2em;
  margin:0 auto;
  max-width: 39em;
background: #fffae8;
border: .5em solid #2b2b2b;
border-radius: 3.5rem;
box-shadow:  0 2px 30px 2px  #2b2b2b ;
}
.archive-wrap{
    list-style: none;
    text-align: center;
    margin: 1.5em auto;
line-height: 1.4;
color:#616161;
}
.archive-wrap a{ border:none;
color:#616161;
}
.archive-wrap  a:hover{
color:#b89001;}
.archive-left{
    font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
    margin: auto .6em auto 0;
font-size: 1.85em;
font-weight: 700;
float: left;
color: #ffda56;
}
.archive-right{
text-align:left;
}
.archive-title {
  margin-left: .5em;
  font-size: 1.05em;
}
.archive-title a{
  color: #2b2b2b;
}
.archive-info {
  word-break: break-all;
  text-align: left;
  font-size: .9em;
  margin: auto .3em auto 0em;
  color:#616161;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
.archive-info a{
    color:#616161;
}
.archive-info a:hover{
  border:none;
  -webkit-transition: .3s;
  transition: .3s;
  color:#b89001;
}
.archive-info-author{
margin: 0;
}
.count{
  margin: .5em auto 0;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
font-weight: 400;
  color:#8c8c8c;
  line-height: 1.8;
  text-align: center;
  font-size: 1.2em;
}
.time{
  color:#8c8c8c;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
  font-size: .8em;
}
.comment{
  background:#fffae8;
  border: .5em solid #2b2b2b;
border-radius: 2.5rem;
  box-shadow:  0 2px 30px 2px  #2b2b2b ;
  padding: .7em 1.7em 0em;
  font-size: 1em;
  margin: 8em auto;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
}
.comment p{
  color:#8c8c8c;
  font-size: .9em;
  line-height: 1.6;
}
.comment p a{
  border:none
}
.recommend{
  line-height: 1.4;
  display: flex;
  padding-bottom: 1.5em;
  font-size: 1em;
  max-width: 42em;
  font-family: "Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
}
.recommend h2{
  font-size: 1.25em;
  margin: .5em auto;
}
.recommend  a{
border:none;
}
.recommend1{
  margin: 0 auto;
}
.recommend1 li{
  margin:.5em auto .5em -1.2em
}
.footnote-ref{
  font-size: .8em;
}
a.footnote-ref{
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
  display: inline-block;
  text-align: center;
  border: none;
color: #fffae8;
background: #b6b5b5;
padding: 0 0 .4em 0 ;
max-height: 1.7em;
width:1.5em;
}
 a.footnote-ref:hover{
color: #2b2b2b;
background: #fffae8;
}
.vertical a.footnote-ref{
padding: 0 0 .4em 0;
max-height: 1.5em;
width:1.7em;
    writing-mode:horizontal-tb;
}
a.footnote-backref{
  display: inline-flex;
  text-align: center;
  width:17px;
  height:12px;
  font-size: 14px;
  border: none;
color: #fffae8;
background: #b6b5b5;
padding: 0px 2px 5px 2px;
}
a.footnote-backref:hover{
color: #2b2b2b;
background: #fffae8;
}
.footnotes{
  font-size: .9em;
  line-height: 1.7;
}
.pagi-wrap{
  text-align:center;
}
.pagi{
  line-height: 1.5;
  font-size: 1em;
  display: flex;
justify-content: space-between;
flex-flow: row wrap;
margin:2em 1em 0 1em;
}
.pagi a{
  border: none;
  font-weight: 700;
}
.pagi:hover{
  -webkit-transition: .3s;
  transition: .3s;
      padding: 0px 8px;
}
.pagination-wrap{
    text-align: center;
}
.pagination {
  margin: 3.5em auto 0;
  display: inline-block;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
}
  .pagination  a {
    background:#fffae8;
box-shadow:  0 2px 20px -5px  #8c8c8c ;
      font-size: .9em;
      margin: 0 .6em;
      color: #2b2b2b;
      line-height: 1.4;
      padding: .5em .7em .4em;
      position: relative;
      border-radius: .7em;
      border: 2px solid #2b2b2b;
      text-decoration: none;
      -webkit-transition: .3s;
      transition: .3s;
    }
  .pagination a:hover{
    border: 2px solid white;
        box-shadow: none;
        background: none;
    }
  .pagination   .active a{
      color: #eec73c;
      cursor: default;
      font-weight: 800;
      border:2px solid  #eec73c;
    }
      .pagination   .active a:hover{
  border:2px solid  #eec73c;
  background: #fffae8;
  box-shadow:  0 2px 20px -5px  #8c8c8c ;
    }
.year h2{
  text-align: center;
  margin:1.8em auto;
  font-size: 1.8em;
    font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
}



	.cover{
		background: #fffae8;
		word-wrap:break-word;
		text-align: center;
		line-height: 1.5;
		max-width: 17em;
		margin: 6em auto;
		padding:0 1em;
		border-radius: 3em;
		border: 1em solid #2b2b2b;
		box-shadow: 0 2px 35px -5px black;
		background-image:url('/background.webp');
		background-size:cover;
		transform: perspective(1000px) rotateX(60deg) rotateY(20deg) ;
		-webkit-transition: 1s;
		transition: 1s;
	}
  .cover:hover{
        transform: perspective(1000px) rotateX(0deg) rotateY(00deg);
  }
  .cover img{
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
	.cover .label{
		font-size: 1.1em;
			letter-spacing: .1em;
	font-weight: 700;
	text-align: center;
	line-height: 2;
  margin:3em auto;
	}
  .cover .mail{
		font-size:.9em;
    text-align: center;
    margin:0 auto 2em;
    font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
	}
.cover .mail a{
border-bottom: .15em solid #d6a700 ;
}
.cover .mail a:hover{
border-bottom: none ;
}
.cover .img{
  margin:3em auto 5em;
}
.cover .in{
	height: 1.5em;
	margin:-0.5em auto 0;
	width: 7.5em;
	background:#2b2b2b;
	border-bottom-left-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
}
.cover .in2{
text-align: center;
	height: .25em;
	margin:2em auto .3em;
	width: 5em;
	background:#151515;
	border-radius: .25em;
	position:relative;
	animation-name: bar;
animation-duration:1.5s;
animation-delay: 4s;
animation-iteration-count:16;
animation-timing-function: ease-in;
animation-direction:alternate;
}
.discover-wrap{
  padding: .5em 2em 1.5em;
margin:5em auto;
  max-height:35em;
  overflow:scroll;
  background: #fffae8;
  border: .5em solid #2b2b2b;
  border-radius: 3.5rem;
  box-shadow:  0 2px 30px 2px  #2b2b2b ;
}
.discover-wwrap{
width:23em;
margin:0 auto;
padding:0 .5em;
}
.discover{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
}
.discover ol{
  width:20em;
  margin:0 auto;
}
.discover-des{
  text-align: center;
margin: 0 auto;
color:#8c8c8c;
font-size: .85em;
  font-family: Verdana,Trebuchet,helvetica,"Noto Sans CJK Kr","Noto Sans CJK SC", PingFang,"PingFang SC",Sans-serif;
line-height: 1.6;
max-width: 26em;
}
.discover h2{
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace,"Noto Serif CJK KR","Source Han Serif K","Noto Serif CJK SC","Hiragino Mincho ProN","Hiragino Mincho","Yu Mincho","Hana Mincho","Ms Mincho";
  margin-top:.5em;
}
.discover a{
  border:none;
}
@keyframes bar{
	from {bottom:0px;}
	to{ bottom:.5em;background:#9a9a9a}
}
.bigcard{
	text-align: center;
	margin: 2em auto 5em;
  	width: 85%;
    height:17em;
    writing-mode: vertical-lr;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border: .5em solid #2b2b2b;
    border-radius: 3em;
    -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 0px 20px 0px  #2b2b2b ;
  box-shadow:  0 0px 20px 0px  #2b2b2b ;
}
.card-container{
	margin:1em auto;
    writing-mode:horizontal-tb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.card{
background-color: #fffae8;
padding: 20px 20px 1px 20px;
margin: 1.2em;
text-align:left;
line-height: 1.4;
border: 1px #2b2b2b solid;
border-radius: 1.5em;
-webkit-transition: .3s;
transition: .3s;
max-height: 12em;
max-width: 18em;
overflow:scroll;
}
.card a{
	border:  none;
}
.card .title{
	font-family: "Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
		font-weight: 700;
		font-size: 1.3em;
		color: #2b2b2b;
		  letter-spacing: .2em;
			line-height: 1;
}
.card .item{
  font-size: .9em;
  line-height: 1.4;
  margin:.5em auto;
}


@media screen and (max-width:1000px){
  body {
      	background:#fffae8;
  }
  listen{-webkit-box-shadow:none ;
  box-shadow:none}
img{-webkit-box-shadow:none ;
  box-shadow:none}
pre{-webkit-box-shadow:none ;
  box-shadow:none}
  .cover{
    transform: none;
    -webkit-box-shadow:none ;
      box-shadow:none
  }
  .count{
    margin: 0em auto;
  }
  .heading-wrap{
    padding: .1em  .5em 1em;
    margin: -1em 0 3em;
    border-bottom:  .2em solid #2b2b2b;
    -webkit-box-shadow:none ;
      box-shadow:none
  }
.archive-wrapper,  .discover-wrap{
      border: .2em solid #2b2b2b;
      border-radius: 1.7rem;
      padding: .5em;
      margin: 4em auto;
      -webkit-box-shadow:none ;
        box-shadow:none
}
.archive-wrapper {
  -webkit-box-shadow:none ;
  box-shadow:none}
  .discover-wrap{
    max-height:none;
    }
.discover ol{
      max-width:20em;
    }
  .discover-wwraper{
    max-width:20em;
    }
.Tags {
      border: .2em solid #2b2b2b;
      border-radius: 1.7rem;
      padding: .5em;
      margin: 3em auto 1em;
      -webkit-box-shadow:none ;
        box-shadow:none
}
.vertical{
        border: .2em solid #2b2b2b;
        border-radius: 1.7rem;
        padding: .5em;
        margin: 4em auto;
        width:88%;
        -webkit-box-shadow:none ;
          box-shadow:none
}
.vertical-false{
      border: .2em solid #2b2b2b;
      border-radius: 1.7rem;
      padding: .5em;
      margin: 4em auto;
      -webkit-box-shadow:none ;
        box-shadow:none
}
  .comment{
    border: .2em solid #2b2b2b;
  border-radius: 1.7rem;
  padding: .5em;
  margin: 5em auto;
  -webkit-box-shadow:none ;
    box-shadow:none
}
.pagination {
  margin: 0em auto;
}
  .pagination  a{-webkit-box-shadow:none ;
  box-shadow:none}
.pagination   .active a:hover{-webkit-box-shadow:none ;
  box-shadow:none}
.recommend{
  display: block;
}
.recommend1{
  margin: auto 0;
}
  .footer-wrapper{
  margin: 7em auto 0;
  padding: .5em;
  width:100%;
  border:none;
  border-radius: 0;
  box-shadow: none;
  background-image: url('/seal.png'),-webkit-linear-gradient(left, #c41011 , #6f00a8);
     background-image:url('/seal.png'),-o-linear-gradient(right,#c41011, #6f00a8);
     background-image:url('/seal.png'),-moz-linear-gradient(right,#c41011, #6f00a8);
     background-image: url('/seal.png'),linear-gradient(to right, #c41011,  #6f00a8);
       background-position: right bottom;
           background-size:10em,contain;
           -webkit-box-shadow:none ;
          box-shadow:none
  }
  .col1{
    margin:1em 0 1em .5em;
    }
.bigcard{
    -webkit-backdrop-filter:none;
  backdrop-filter: none;
  background: white;
    writing-mode:horizontal-tb;
        padding: .5em;
    margin: 4em auto;
   height:35em;
    overflow:scroll;
    background: #fffae8;
    border: .2em solid #2b2b2b;
    border-radius: 1.7rem;
    -webkit-box-shadow:none ;
      box-shadow:none
}
.card{
padding: .8em .3em .1em .5em;
margin: 1.2em auto;
border-radius: 1.2em;
max-height: 18em;
width: 18em;
}
}
