body {
  font-family: "Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Palatino Linotype",Palatino,"Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
color:#2b2b2b;
font-size: 1em;
  line-height: 1.9em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fffae8;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
}
hr{
  margin:4em auto;
  max-width:6.7em;
  height: .3em;
  border-radius: 1rem;
  border: none;
  background-color: #2b2b2b;
}
.vertical hr{
  margin:auto 4em;
  height:100%;
  width: .35em;
  border-radius: 0;
}
a{
  color:#2b2b2b;
  text-decoration:none;
border-bottom: .15em solid rgb(241,188,0) ;
-webkit-transition: .3s;
transition: .3s;
}
a:hover{
  border:none ;
  color:#b89001;
}
strong{
  font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
}
em{
  font-family:"Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
  font-style: normal;
}
v{
background-image: url(/v1.png);
background-repeat: repeat-x;
background-size: 10px;
background-position: left bottom;
padding-bottom: 3px;
margin: 0 1.5px ;
}
n{
  font-family: "Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
  font-size: 16px;
  padding:  0 5px;
  letter-spacing: 0;
}
u{
border-bottom: 1px solid #2b2b2b;
padding-bottom: 1px;
text-decoration: none;
margin: 0 1.5px;
}
listen{
  border-radius: 5px;
  border: 1px #2b2b2b solid;
  padding: 4px 4px 4px 9px;
  font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 17px;
    margin:  0 7px;
  -webkit-box-shadow: 0 2px 20px -5px  #8c8c8c ;
  box-shadow:  0 2px 20px -5px  #8c8c8c ;
}
listen a{
  border: none;
}
listen:hover{
  -webkit-box-shadow: none ;
  box-shadow:  none ;
  border: 1px #b89001 solid;
  -webkit-transition: .3s;
  transition: .3s;
  color: #b89001;
}
.vertical listen{
    padding: 9px 5px 4px 3px ;
        margin: 7px 0 ;
}
.vertical  listen a{
  border: none;
}
date{
  margin: 0  7px ;
  padding: 4px 13px;
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace, "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,PingFangSC,Sans-serif;
  font-weight: 400;
    font-size: 16px;
    color: #8c8c8c;
    border-radius: 15px;
    letter-spacing: 0;
    border: 1px solid #8c8c8c;
}
.vertical date{
  margin: 7px 0;
  padding: 13px 4px;
}
.vertical-wrap{
  text-align: center;
}
.vertical{
    line-height: 1.8em;
      border: .35em solid #2b2b2b;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
    writing-mode: vertical-rl;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 95%;
    width: 97%;
      margin: 3em auto 0 auto;
    max-height:38em;
}
.vertical a{
  color:#2b2b2b;
  text-decoration:none;
border-left: .15em solid rgb(241,188,0) ;
border-bottom: none;
-webkit-transition: .3s;
transition: .3s;
}
.vertical a:hover{
  border:none ;
  color:#b89001;
}
.vertical v{
  background-image: url(/v.png);
  background-repeat: repeat-y;
  background-size: 2.6px;
  background-position: left bottom;
  padding-left: 2.5px;
  margin: 1.5px 0 ;
  }
.vertical n{
    font-family: "Adobe Garamond Pro",AdobeGaramondPro,Garamond,"Adobe Caslon Pro",AdobeGaramondPro,Caslon,"Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Times New Roman","方正新楷体_GB18030",FZNewKai_GB18030-Z03,STKaiti,Kai,"楷体",Kaiti,"Kaiti TC";
    font-size: 16px;
    padding: 5px 0;
    letter-spacing: 0;
  }
.vertical u{
  border-left: 1px solid #2b2b2b;
  border-bottom: none;
  padding-left: 0px;
  text-decoration: none;
  margin: 1.5px 0 ;
  }
  .vertical h1{
      text-align: left;
      margin: 2em 2.5em 0 0em;
  }
  .vertical-info{
    text-align: center;
    font-size: .9em;
    color:#8c8c8c;
  font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
margin:3.5em auto -3em auto;
  }
h1{
  text-align: center;
letter-spacing: .25em;
font-size: 1.8em;
line-height: 1.5;
}
h2{
  font-size: 1.4em;
  line-height: 1.6;
}
h3{
  font-size: 1.2em;
  line-height: 1.6;
  font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
}
h4{
  font-size: 1em;
}
h5{
  font-size: 1em;
  font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
}
h6{
  font-size: 1em;
  font-weight: 400;
  color: #8c8c8c
}
.des{
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  line-height: 1.7;
  color:#8c8c8c;
  margin: 1.5em  1em auto 1em;
}
blockquote {
margin:  1em 0em 1.18em 2.05em;
position: relative;
line-height: 1.6;
font-weight: 300;
font-family: helvetica,"方正仿宋","方正仿宋-Z02",FZFangSong-Z02,STFangsong,"仿宋",FangSong;
letter-spacing: 0;
}
.vertical blockquote {
margin: 2.05em 1em 0em 1.18em ;}
main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
  border: 1px #2b2b2b solid;
  -webkit-box-shadow: 0 2px 20px -5px  #2b2b2b ;
  box-shadow:  0 2px 20px -5px  #2b2b2b ;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 20px -5px  #2b2b2b ;
  box-shadow:  0 2px 20px -5px  #2b2b2b ;
  background-color:black;
}
code {
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace, "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,PingFangSC,Sans-serif;
  font-size: .8em;
  color: #fffae8;
      background-color:#2b2b2b;
        border-radius: .2rem;
}
.Banner {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0 1em;
}
{{ $len := len site.Menus.nav }}
{{ range seq $len }}
  .Banner-item:nth-child({{ . }}) {
    order: {{ sub $len . | add 1 }};
  }
{{ end }}
.Banner-item--title {
  flex-grow: 1;
}
.Banner-link {
  font-size: .9rem;
  font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
  color: #2b2b2b;
  padding: 0.5rem .6rem;
  border: none;
}
.Banner-link a:hover{
  border: none;
}

.Heading {
  text-align:center;
  align-items: baseline;
}
.Heading a{
  text-decoration: none;
  border: none;
}
.Heading-title {
  margin: 1.5rem 0.5rem 0 0;
}

.Heading-link {
  color: inherit;
}
.Tag{
  text-align: center;
}
.Tags {
  max-width: 32em;
  color:#616161;
  display:inline-block;
  list-style: none;
  margin: 2rem auto 3rem auto;
  padding: .4em .4em .3em .4em;
    text-align:left;
font-size:.9em;
    border: 1px solid #2b2b2b;
line-height: 1.6;
background-color: white;
border-radius: 1rem;
border: 1px #2b2b2b solid;
-webkit-box-shadow: 0 2px 20px -5px  #8c8c8c ;
box-shadow:  0 2px 20px -5px  #8c8c8c ;
}
.Tags a{
  text-decoration: none;
  border: none;
  color:black;
}
.Tags a:hover{
 color:#b89001;
}
.Tags-item {
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 0.2rem;
  padding: 0 0.3rem;
}
.Tags-item strong{
  color:#8c8c8c;
}
.toc{
  text-align: left;
  font-size: .8em;
  line-height: 1.6;
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}
.toc a{
  border:none;
}
.cate{
  margin-top: 2em;
font-size: 1em;
text-align:center;
}
.cate a{
  border:none;
  font-weight: 400;
}
.cate-wrap{
  margin: -.3em auto;
  font-size: 1em;
}
{{ with site.Params.divider }}

  .Divider {
    display: flex;
    justify-content: center;
  }

  .Divider::after {
    content: "{{ . }}";
  }

{{ end }}

.Pagination {
  font-size: 1.25rem;
  color: inherit;
}

.Pagination--right {
  float: right;
}

.Footer {
  text-align: center;
  margin: 0rem auto 1.5rem auto;
  font-size: .85em;
  color:#8c8c8c;
  line-height: 1.6;
}
.Footer a{
  border: none;
}
.u-wrapper {
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}

.u-padding {
  padding: 0 1rem;
}

.u-background {
  background: #fffae8;
}

.u-clickable1 {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-family: "Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
}
.u-clickable2{
font-weight: 700;
ont-family: "Minion Pro",Minion,"Adobe Gurmukhi",AdobeGurmukhi,Baskerville,"Palatino Linotype",Palatino,"Noto Serif CJK KR",NotoSerifCJKKR,"Source Han Serif K",SourceHanSerifK,"Noto Serif CJK SC","Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
}
.u-clickable {
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
}
a.Banner-link.u-clickable:hover{
  font-weight: 700;
}
.archive-wrap{
    list-style: none;
    margin: 1.5em auto;
    display: block;
line-height: 1.4;
color:#616161;
}
.archive-wrap strong{
  color:#8c8c8c;
}
.archive-wrap a{ border:none;
color:#616161;
}
.archive-wrap  a:hover{
color:#b89001;}
.archive-title a{
  color: #2b2b2b;
}
.archive-info{
font-size: .8em;
}
.lastmod{
  padding:  .3em 1em .6em 1em;
  border:1px solid #2b2b2b;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 2px 20px -5px  #8c8c8c ;
  box-shadow:  0 2px 20px -5px  #8c8c8c ;
  line-height: 1.9;
  font-size: .9em;
  margin: 2em auto 3em auto;
  max-height: 11.5em;
  overflow:scroll;
}
.lastmod a{
  border: none;
}
.lastmod p{
  color:#8c8c8c;
  font-weight: 700;
  font-size: 1.15em;
  line-height: 1;
  font-family:  "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
}
.count{
    padding: 0em 1em .7em 1em;
    margin: -1em auto -1em auto;
      font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
  color:#8c8c8c;
  font-size: .8em;
  line-height: 1.8;
}
.count p{
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}
.comment{
  background-color: white;
  border: 1px solid #2b2b2b;
border-radius: 1rem;
-webkit-box-shadow: 0 2px 20px -5px  #8c8c8c ;
box-shadow:  0 2px 20px -5px  #8c8c8c ;
  padding: .6em 1.2em 0em 1.2em;
  font-size: .9em;
  margin: 5em auto 2em auto;
  font-family: helvetica,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif;
}
.comment p{
  color:#8c8c8c;
  font-size: .8em;
  line-height: 1.6;
}
.comment p a{
  border:none
}
.footnote-ref{
  font-size: .5em;
}
a.footnote-ref{
  font-family: "Source Code Pro",Menlo, Inconsolata,"Courier New","Anonymous Pro",monospace;
  display: inline-flex;
  text-align: center;
  border: none;
color: #fffae8;
background-color: #b6b5b5;
  width:19px;
  height:8px;
  padding: 0px  2px 18px 2px ;
}
 a.footnote-ref:hover{
color: #2b2b2b;
background-color: #fffae8;
}
.vertical a.footnote-ref{
  width:8px;
  height:19px;
padding: 2px 0px 2px 18px ;
}
a.footnote-backref{
  display: inline-flex;
  text-align: center;
  width:17px;
  height:12px;
  font-size: 14px;
  border: none;
color: #fffae8;
background-color: #b6b5b5;
padding: 0px 2px 5px 2px;
}
a.footnote-backref:hover{
color: #2b2b2b;
background-color: #fffae8;
}
.footnotes{
  font-size: .9em;
  line-height: 1.7;
}
.pagi-wrap{
  text-align:center;
}
.pagi{
  line-height: 1.5;
  font-size: .9em;
  display: flex;
justify-content: space-between;
flex-flow: row wrap;
margin:3em 1em 0 1em;
}
.pagi a{
  border: none;
  font-weight: 700;
}
.pagi-prev{
  float: left;
}
.pagi-next{
  float: right;
}
